/*
Theme Name: LandingPress WP
Theme URI: http://www.landingpress.net
Author: LandingPress Team
Author URI: http://www.landingpress.net
Description: WordPress Theme Idaman Pebisnis Online Indonesia
Version: 2.9.5.4
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: translation-ready,blog,e-commerce
Text Domain: landingpress-wp
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Typography
3.0 Layout
4.0 Header Menus
5.0 Footer Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
	9.1 Sidebar Widgets
	9.2 Footer Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Media
	11.1 Captions
	11.2 Galleries
12.0 Vendors
13.0 Plugins
	13.1 WooCommerce
	13.2 Page Builder
14.0 Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body {
	margin:0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display:block;
}
audio, canvas, progress, video {
	display:inline-block;
	vertical-align:baseline;
}
audio:not([controls]) {
	display:none;
	height:0;
}
[hidden], template {
	display:none;
}
a {
	background-color:transparent;
}
a:active, a:hover {
	outline:0;
}
abbr[title] {
	border-bottom:1px dotted;
}
b, strong {
	font-weight:bold;
}
dfn {
	font-style:italic;
}
h1 {
	margin:0.67em 0;
	font-size:2em;
}
mark {
	color:#000000;
	background:#ffff00;
}
small {
	font-size:80%;
}
sub, sup {
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline;
}
sup {
	top:-0.5em;
}
sub {
	bottom:-0.25em;
}
img {
	border:0;
}
svg:not(:root) {
	overflow:hidden;
}
figure {
	margin:1em 40px;
}
hr {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0;
}
pre {
	overflow:auto;
}
code, kbd, pre, samp {
	font-family:monospace, monospace;
	font-size:1em;
}
button, input, optgroup, select, textarea {
	margin:0;
	color:inherit;
	font:inherit;
}
button {
	overflow:visible;
}
button, select {
	text-transform:none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button;
}
button[disabled], html input[disabled] {
	cursor:default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding:0;
	border:0;
}
input {
	line-height:normal;
}
input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height:auto;
}
input[type="search"] {
	-webkit-appearance:textfield;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}
fieldset {
	margin:0;
	padding:0;
	border:0;
}
legend {
	padding:0;
	border:0;
}
textarea {
	overflow:auto;
}
optgroup {
	font-weight:bold;
}
table {
	border-spacing:0;
	border-collapse:collapse;
}
td, th {
	padding:0;
}
/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
html {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-ms-word-wrap:break-word;
	word-wrap:break-word;
}
*, *:before, *:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	box-sizing:inherit;
}
body {
	color:#333333;
	background:#eeeeee;
	/* Fallback for when there is no custom background color defined. */
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size:16px;
	line-height:1.6;
}
button, input, select, textarea {
	font-size:13px;
	line-height:1.6;
}
h1, h2, h3, h4, h5, h6 {
	color:#111111;
	font-weight:normal;
}
p {
	margin:0 0 1.25em;
}
a, a:visited {
	color:#365899;
	text-decoration:none;
}
a:hover {
	color:#365899;
	text-decoration:underline;
}
a:focus {
	outline:thin dotted;
}
a:hover, a:active {
	outline:0;
}
b, strong {
	font-weight:bold;
}
dfn, cite, em, i {
	font-style:italic;
}
blockquote {
	margin:0 0 20px;
	padding:20px 25px;
	border:1px dashed #dddddd;
}
blockquote > p:last-of-type {
	margin-bottom:0;
}
address {
	margin:0 0 1.5em;
}
pre {
	overflow:auto;
	max-width:100%;
	margin-bottom:1.6em;
	padding:1.6em;
	background:#eeeeee;
	font-family:"Courier 10 Pitch", Courier, monospace;
	font-size:15px;
	line-height:1.6;
}
code, kbd, tt, var {
	font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size:15px;
}
abbr, acronym {
	border-bottom:1px dotted #666666;
	cursor:help;
}
mark, ins {
	background:#fff9c0;
	text-decoration:none;
}
small {
	font-size:75%;
}
big {
	font-size:125%;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
hr {
	height:1px;
	margin-bottom:1.5em;
	border-bottom:1px solid #dddddd;
	background:none;
}
ul, ol {
	margin:0 0 1.5em 0;
}
ul {
	list-style:disc;
}
ol {
	list-style:decimal;
}
li > ul, li > ol {
	margin-bottom:0;
	margin-left:1.5em;
}
dt {
	font-weight:bold;
}
dd {
	margin:0 1.5em 1.5em;
}
img {
	max-width:100%;
	/* Adhere to container width. */
	height:auto;
	/* Make sure images are scaled correctly. */
	-moz-border-radius:2px;
	border-radius:2px;
}
table {
	width:100%;
	margin:0 0 1.5em;
}
th, td {
	padding:7px;
	text-align:left;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	padding:7px 15px 7px;
	border:1px solid #dddddd;
	-moz-border-radius:3px;
	border-radius:3px;
	color:rgba(0, 0, 0, 0.8);
	background:#e6e6e6;
	font-size:14px;
	line-height:1.6;
}
input[type="text"], input[type="number"], input[type="tel"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
	padding:7px 10px 7px;
	border:1px solid #dddddd;
	-moz-border-radius:3px;
	border-radius:3px;
}
textarea {
	width:100%;
	padding:5px 10px 5px;
}
select {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:32px;
	padding:0 25px 0 10px;
	border:1px solid #dddddd;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#ffffff url("assets/images/select-arrow.png") no-repeat center right;
	font-size:14px;
	line-height:30px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
figure {
	margin:0;
}
.search-submit {
	margin-left:10px;
}
/*--------------------------------------------------------------
3.0 Layout
--------------------------------------------------------------*/
.site-container {
	width:100%;
	margin:0 auto;
	padding:30px;
}
.container {
	max-width:960px;
	margin:0 auto;
	padding:0 30px;
}
.site-header {
	position:relative;
	max-width:960px;
	margin:0 auto;
	padding:0;
	background-position:center;
	-moz-background-size:cover;
	background-size:cover;
}
.site-branding {
	position:relative;
	padding:60px 0 50px;
	border-bottom:1px solid rgba(0,0,0,0.125);
	background-color:#ffffff;
	background-position:center;
	-moz-background-size:cover;
	background-size:cover;
	text-align:center;
}
.site-branding .container {
	position:relative;
}
.site-header-overlay {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.8;
}
.site-title {
	margin:0;
	color:#222222;
	font-size:28px;
	font-weight:normal;
	line-height:1em;
}
.site-title a, .site-title a:visited {
	color:#222222;
	text-decoration:none;
}
.site-description {
	margin:5px 0 0;
	opacity:0.75;
	color:#333333;
	font-size:16px;
	font-weight:normal;
}
.site-header-widget-active .header-widget {
	margin-top:20px;
}
@media (min-width: 701px) {
	.site-header-widget-active.site-header-align-left .header-logo {
		float:left;
		max-width:40%;
	}
	.site-header-widget-active.site-header-align-right .header-logo {
		float:right;
		max-width:40%;
	}
	.site-header-widget-active.site-header-align-left .header-widget {
		float:right;
		max-width:60%;
		margin-top:-5px;
	}
	.site-header-widget-active.site-header-align-right .header-widget {
		float:left;
		max-width:60%;
		margin-top:-5px;
	}
}
.header-widget .widget, .header-widget .widget ul.menu, .header-widget .widget ul.menu li, .header-widget .widget ul.menu li ul {
	display:inline-block;
	margin:0;
	padding:0;
	border:0;
	list-style:none;
}
.header-widget .widget ul.menu li ul {
	display:none;
}
.header-widget .widget ul.menu li a {
	display:inline-block;
	padding:0 8px;
}
.site-header-image {
	display:block;
	width:100%;
}
.site-inner {
	max-width:960px;
	margin:0 auto;
	padding:0;
	background:#ffffff;
}
.site-inner .container {
	padding:30px 15px 15px;
}
.site-content .content-area {
	float:left;
	width:64.51612903%;
	padding:0 15px;
}
.page-sidebar-inactive .site-content .content-area {
	float:none;
	width:100%;
}
.site-content .widget-area {
	float:right;
	width:35.48387097%;
	padding:0 15px 30px;
}
.page-sidebar-inactive .site-content .widget-area {
	display:none;
	float:none;
	width:100%;
}
.site-footer-widgets {
	padding:10px 0 0;
	color:#eaeaea;
	background:#222222;
	font-size:13px;
}
.site-footer {
	font-size:13px;
	text-align:center;
}
.site-footer .container {
	padding-top:30px;
	padding-bottom:30px;
	font-size:13px;
	text-align:center;
}
.site-footer a, .site-footer a:visited {
	color:#333333;
}
.site-footer a:hover {
	color:#333333;
	text-decoration:none;
}
.page-landingpress .site-content .container, .page-landingpress .site-content .content-area {
	width:100%;
	max-width:100%;
	margin:0;
	padding:0;
}
/* Page Template : Blank Canvas */
.page-landingpress-full .site-container {
	width:100%;
	max-width:100%;
	margin:0;
	padding:0;
}
.page-landingpress-full .site-inner {
	background:none;
}
.page-landingpress-full .site-inner {
	width:100%;
	max-width:100%;
	margin:0;
	padding:0;
}
/* Page Template : Blank Canvas + Header&Footer */
.page-landingpress-full-hf .site-container {
	width:100%;
	max-width:100%;
	margin:0;
	padding:0;
}
.page-landingpress-full-hf .site-inner {
	width:100%;
	max-width:100%;
	margin:0;
	padding:0;
}
.page-landingpress-full-hf .site-header, .page-landingpress-full-hf .main-navigation {
	max-width:100%;
	margin:0;
}
.page-landingpress-full-hf .site-branding .container {
	padding-top:30px;
	padding-bottom:20px;
}
.page-landingpress-full-hf .site-footer .container {
	max-width:100%;
}
.page-landingpress-full-hf .site-header .container, .page-landingpress-full-hf .main-navigation .container, .page-landingpress-full-hf .site-footer-widgets .container {
	max-width:960px;
}
/* Page Template : Boxed Canvas */
@media (max-width: 960px) {
	.page-landingpress-boxed .site-container {
		padding:0;
	}
}
.page-landingpress-boxed .container, .page-landingpress-boxed .site-header, .page-landingpress-boxed .site-inner, .page-landingpress-boxed .main-navigation {
	max-width:960px;
}
.page-landingpress-boxed-hf .container, .page-landingpress-boxed-hf .site-header, .page-landingpress-boxed-hf .site-inner, .page-landingpress-boxed-hf .main-navigation {
	max-width:960px;
}
/* Page Template : Slim Canvas */
@media (max-width: 700px) {
	.page-landingpress-slim .site-container {
		padding:0;
	}
}
.page-landingpress-slim .container, .page-landingpress-slim .site-header, .page-landingpress-slim .site-inner, .page-landingpress-slim .main-navigation {
	max-width:700px;
}
.page-landingpress-slim-hf .container, .page-landingpress-slim-hf .site-header, .page-landingpress-slim-hf .site-inner, .page-landingpress-slim-hf .main-navigation {
	max-width:700px;
}
/*--------------------------------------------------------------
4.0 Header Menus
--------------------------------------------------------------*/
.main-navigation {
	display:block;
	clear:both;
	z-index:99998 !important;
	max-width:960px;
	margin:0 auto;
	background:#222222;
	font-size:13px;
	letter-spacing:1px;
	text-transform:uppercase;
}
#site-navigation-sticky-wrapper:not(.is-sticky) {
	height:auto !important;
}
.is-sticky .main-navigation {
	left:0;
	width:100% !important;
	max-width:100% !important;
}
.admin-bar .is-sticky .main-navigation {
	top:32px !important;
}
@media screen and (max-width: 782px) {
	.admin-bar .is-sticky .main-navigation {
		top:46px !important;
	}
}
@media screen and (max-width: 600px) {
	.admin-bar .is-sticky .main-navigation {
		top:0 !important;
	}
}
.main-navigation .container {
	padding:0 15px;
}
.main-navigation ul {
	margin:0;
	padding-left:0;
	list-style:none;
}
.main-navigation li {
	float:left;
	position:relative;
	-webkit-backface-visibility:hidden; /* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
	-webkit-overflow-scrolling:touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}
.main-navigation li a, .main-navigation li a:visited {
	display:block;
	padding:0 15px;
	color:#999999;
	line-height:65px;
	text-decoration:none;
}
.main-navigation li a:hover {
	color:#ffffff;
}
.main-navigation ul li.menu-item-has-children > a:after {
	padding-left:5px;
	opacity:0.6;
	font-family:FontAwesome;
	content:"\f107";
}
.main-navigation ul ul {
	float:left;
	position:absolute;
	z-index:99999;
	top:65px;
	left:-999em;
	border-top:1px solid rgba(255, 255, 255, 0.1);
	background:#222222;
	-webkit-box-shadow:0 3px 3px rgba(255, 255, 255, 0.2);
	-moz-box-shadow:0 3px 3px rgba(255, 255, 255, 0.2);
	box-shadow:0 3px 3px rgba(255, 255, 255, 0.2);
	text-align:left;
}
.main-navigation ul ul ul {
	top:-1px;
	left:-999em;
}
.main-navigation ul ul a {
	width:200px;
	line-height:40px;
}
.main-navigation ul ul li {
	border-bottom:1px solid rgba(255, 255, 255, 0.1);
}
.main-navigation ul ul li a {
	padding:0 15px;
}
.main-navigation ul ul li.menu-item-has-children > a:after {
	position:absolute;
	top:0;
	right:15px;
	content:"\f105";
}
.main-navigation ul li:hover > ul {
	left:auto;
}
.main-navigation ul ul li:hover > ul {
	left:100%;
}
.main-navigation li.header-searchform {
	float:right;
	height:65px;
	padding:17px 15px;
}
.main-navigation li.header-searchform .search-field {
	width:200px;
	height:30px;
	border:none;
}
.main-navigation li.header-minicart {
	float:right;
}
/* Small menu. */
.menu-toggle {
	display:none;
	float:left;
	border:none !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
	-webkit-tap-highlight-color:transparent;
}
.menu-toggle:focus, .menu-toggle:active, .menu-toggle:focus:active {
	outline:none !important;
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.menu-toggle {
	margin:0;
	padding:18px 15px;
	border:none;
	color:#999999;
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-shadow:none;
}
.menu-icon {
	float:left;
	padding:5px 0 0 0;
}
.menu-bar {
	display:block;
	width:24px;
	height:3px;
	margin-bottom:5px;
	background:#999999;
}
.menu-label {
	line-height:29px;
	text-transform:uppercase;
}
.menu-overlay {
	display:none !important;
	position:fixed;
	z-index:9998;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.85;
	background:#111111;
	cursor:pointer;
}
.menu-overlay:before, .menu-overlay:after {
	position:absolute;
	top:20px;
	right:30px;
	width:2px;
	height:33px;
	background-color:#ffffff;
	content:" ";
}
.menu-overlay:before {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}
.menu-overlay:after {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
a.menu-logo {
	display:block;
	float:left;
	padding:0 15px;
	text-decoration:none;
}
a.menu-logo:hover {
	text-decoration:none;
}
a.menu-logo img {
	float:left;
	height:40px;
	margin:12px 0 0;
}
a.menu-minicart {
	display:block;
	float:right;
	padding:0 15px;
	border:none !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
	color:#999999;
	font-size:14px;
	line-height:65px;
	text-decoration:none;
}
a.menu-minicart:hover {
	color:#ffffff;
	text-decoration:none;
}
/*--------------------------------------------------------------
5.0 Footer Menus
--------------------------------------------------------------*/
.footer-navigation {
	padding-bottom:10px;
	line-height:2.5em;
	text-align:center;
}
.footer-navigation ul {
	display:inline-block;
	margin:0;
	padding-left:0;
	vertical-align:top;
	list-style:none;
}
.footer-navigation li {
	display:inline-block;
	position:relative;
}
.footer-navigation a {
	padding:0 10px;
}
/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	overflow:hidden;
	clip:rect(1px, 1px, 1px, 1px);
	position:absolute !important;
	width:1px;
	height:1px;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
	display:block;
	clip:auto !important;
	z-index:100000;
	/* Above WP toolbar. */
	top:5px;
	left:5px;
	width:auto;
	height:auto;
	padding:15px 23px 14px;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#21759b;
	background-color:#f1f1f1;
	-webkit-box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);
	font-size:14px;
	font-weight:bold;
	line-height:normal;
	text-decoration:none;
}
/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display:inline;
	float:left;
	margin-right:1.5em;
}
.alignright {
	display:inline;
	float:right;
	margin-left:1.5em;
}
.aligncenter {
	display:block;
	clear:both;
	margin-right:auto;
	margin-left:auto;
}
/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clearfix:before, .clearfix:after, .site-container:before, .site-container:after, .container:before, .container:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-main:before, .site-main:after, .site-footer-widgets:before, .site-footer-widgets:after, .site-footer:before, .site-footer:after {
	display:table;
	content:"";
}
.clearfix:after, .site-container:after, .container:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-main:after, .site-footer-widgets:after, .site-footer:after {
	clear:both;
}
/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
9.1 Sidebar Widgets
--------------------------------------------------------------*/
.widget {
	margin:0 0 30px;
	font-size:14px;
}
.widget:before, .widget:after {
	display:table;
	content:"";
}
.widget:after {
	clear:both;
}
.widget-title {
	margin:0;
	margin-bottom:9px;
	padding-bottom:9px;
	border-bottom:1px dotted #cccccc;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2px;
	text-transform:uppercase;
}
/* Make sure select elements fit in widgets. */
.widget select {
	max-width:100%;
}
.widget ul {
	margin:-9px 0 0;
	padding:0;
	list-style:none;
}
.widget li {
	padding:9px 0;
	border-bottom:1px dotted #cccccc;
}
.widget ul ul {
	margin-top:9px;
	margin-bottom:-9px;
	padding-left:15px;
	border-top:1px dotted #cccccc;
}
.widget ul ul > li:last-of-type {
	border:none;
}
.widget select {
	width:100%;
	margin-top:0.5em;
	padding:5px;
}
.widget_calendar {
	padding-bottom:0;
}
.widget_calendar .widget-title {
	margin-bottom:0;
}
.widget_calendar table {
	margin-bottom:0;
}
.widget_calendar caption {
	padding-top:9px;
	padding-bottom:9px;
	text-align:center;
}
.widget_calendar thead th, .widget_calendar tbody td, .widget_calendar tfoot td {
	padding-top:6px;
	padding-bottom:6px;
	border-top:1px solid #e5e5e5;
	text-align:center;
}
.widget_calendar tbody td {
	padding-top:6px;
	padding-bottom:6px;
	border-top:1px solid #e5e5e5;
	text-align:center;
}
.widget_calendar tbody a {
	font-weight:bold;
}
.widget_calendar tfoot #prev {
	text-align:left;
}
.widget_calendar tfoot #next {
	text-align:right;
}
.widget_posts_list img {
	margin:5px 0 0;
	padding:0;
}
.widget_posts_list a {
	display:block;
}
.widget_posts_list .post-title-alt {
	margin:5px 0 0;
	font-size:14px;
}
.widget_posts_list .post-date {
	display:block;
	margin:5px 0 0;
	color:#999999;
	font-size:12px;
	line-height:20px;
	letter-spacing:1px;
	text-transform:uppercase;
}
.widget_posts_list p {
	margin:5px 0 0;
	font-size:13px;
}
/* Search widget. */
.widget_search {
	margin-top:5px;
}
.search-form {
	position:relative;
}
.search-form:after {
	position:absolute;
	top:6px;
	right:10px;
	font-family:"FontAwesome";
	content:"\f002";
}
.search-form .search-field {
	display:block;
	width:100%;
}
.search-form .search-submit {
	position:absolute;
	top:0;
	right:0;
	width:40px;
	height:100%;
	border:0;
	background:transparent;
	text-indent:-99999px;
}
/*--------------------------------------------------------------
9.2 Footer Widgets
--------------------------------------------------------------*/
.footer-container {
	max-width:910px;
	margin:0 auto;
}
.footer-row {
	margin:0 -15px;
}
.footer-col {
	float:left;
	width:33.33333333%;
	padding:0 15px;
}
.footer-widget.widget {
	color:#999999;
}
.footer-widget.widget .widget-title {
	color:#ffffff;
}
.footer-widget.widget a, .footer-widget.widget a:visited {
	color:#999999;
}
.footer-widget.widget a:hover {
	color:#ffffff;
	text-decoration:none;
}
.footer-widget.widget .widget-title, .footer-widget.widget li, .footer-widget.widget ul ul {
	border-color:#333333;
}
#back-to-top {
	display:none;
	position:fixed;
	z-index:99999;
	right:15px;
	bottom:115px;
	width:35px;
	height:35px;
	-moz-border-radius:4px;
	border-radius:4px;
	opacity:0.6;
	color:#ffffff;
	background:#333333;
	font-size:24px;
	line-height:35px;
	text-align:center;
	cursor:pointer;
}
#back-to-top:hover {
	opacity:1;
}
/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.breadcrumb {
	margin-bottom:20px;
	color:#999999;
	font-size:13px;
}
.breadcrumb ul {
	margin:0;
	padding:0;
	list-style:none;
}
.breadcrumb li {
	float:left;
	padding-right:10px;
}
.breadcrumb li:after {
	content:"/";
}
.breadcrumb li:last-of-type:after {
	content:"";
}
.breadcrumb li a {
	padding-right:10px;
}
.page-header {
	margin-bottom:40px;
}
.sticky {
	display:block;
}
.entry {
	margin:0 0 30px;
}
.entry-header {
	margin:0 0 15px;
}
.entry-thumbnail {
	float:left;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	margin:0 20px 20px 0;
	padding:4px;
	border:1px solid #dddddd;
}
.entry-image {
	margin:5px auto 20px auto;
}
.entry-header .entry-image-link {
	display:block;
}
.entry-header .entry-image {
	width:100%;
}
.entry-header img.alignleft, .entry-header img.alignright {
	margin-bottom:5px;
}
.entry .entry-title {
	margin:0 0 10px;
	font-size:24px;
	font-weight:normal;
	line-height:1.2;
}
.entry .entry-title a, .entry .entry-title a:visited {
	color:#333333;
}
.page-title, .entry-page .entry-title, .entry-post .entry-title {
	margin:0 0 20px;
	font-size:32px;
	font-weight:normal;
	line-height:40px;
}
.byline, .updated:not(.published) {
	display:none;
}
.single .byline, .group-blog .byline {
	display:inline;
}
.attachment .entry-summary {
	margin-bottom:10px;
}
.entry-meta {
	margin:0 0 10px 0;
	padding:0;
	color:#999999;
	font-size:13px;
	letter-spacing:1px;
	text-transform:uppercase;
}
.entry-meta a, .entry-meta a:visited {
	color:#999999;
}
.meta-sep {
	padding:0 10px;
}
.entry-footer a, .entry-footer span {
	padding:0 15px 0 0;
}
.entry.entry-summary {
	margin:0 0 40px;
}
.entry.entry-summary .entry-header {
	margin:0;
}
.entry.entry-summary p {
	margin:0;
}
.entry.entry-summary .more-link {
	display:inline-block;
	padding-top:10px;
}
.page .entry.page .edit-link {
	display:block;
	clear:both;
	padding-top:15px;
}
.blog-section-image img {
	width:100%;
}
.blog-layout-thumb-left, .blog-layout-thumb-right, .blog-layout-thumb-medium-left, .blog-layout-thumb-medium-right {
	margin-right:-10px;
	margin-left:-10px;
}
.blog-layout-thumb-left .blog-section-image {
	float:left;
	width:29%;
	padding:0 10px;
}
.blog-layout-thumb-left .blog-section-content {
	float:right;
	width:71%;
	padding:0 10px;
}
.blog-layout-thumb-right .blog-section-image {
	float:right;
	width:29%;
	padding:0 10px;
}
.blog-layout-thumb-right .blog-section-content {
	float:left;
	width:71%;
	padding:0 10px;
}
.blog-layout-thumb-medium-left .blog-section-image {
	float:left;
	width:40%;
	padding:0 10px;
}
.blog-layout-thumb-medium-left .blog-section-content {
	float:right;
	width:60%;
	padding:0 10px;
}
.blog-layout-thumb-medium-right .blog-section-image {
	float:right;
	width:40%;
	padding:0 10px;
}
.blog-layout-thumb-medium-right .blog-section-content {
	float:left;
	width:60%;
	padding:0 10px;
}
.blog-layout-gallery-2cols:nth-of-type(odd) {
	float:left;
	clear:both;
	width:50%;
	padding-right:15px;
}
.blog-layout-gallery-2cols:nth-of-type(even) {
	float:right;
	width:50%;
	padding-left:15px;
}
.share-social {
	margin:25px 0 20px;
	font-size:12px;
	-webkit-font-smoothing:antialiased;
	line-height:28px;
}
.share-label {
	display:inline-block;
	margin:0 7px 5px 0;
	padding:0 10px;
	-moz-border-radius:2px;
	border-radius:2px;
	color:#333333;
	background:#dddddd;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	-webkit-box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.2);
	box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.2);
	text-transform:uppercase;
}
.share-link {
	display:inline-block;
	margin:0 7px 5px 0;
	padding:0 10px;
	-moz-border-radius:2px;
	border-radius:2px;
	color:white;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	-webkit-box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.2);
	box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.2);
	cursor:pointer;
}
.share-link:visited, .share-link:hover, .share-link:active {
	color:white;
	text-decoration:none;
}
.share-twitter {
	background:#00aced;
}
.share-twitter:hover, .share-twitter:active {
	background:#0084b4;
}
.share-facebook {
	background:#3b5997;
}
.share-facebook:hover, .share-facebook:active {
	background:#2d4372;
}
.share-googleplus {
	background:#d64937;
}
.share-googleplus:hover, .share-googleplus:active {
	background:#b53525;
}
.share-buffer {
	background:#444444;
}
.share-buffer:hover, .share-buffer:active {
	background:#222222;
}
.share-pinterest {
	background:#bd081c;
}
.share-pinterest:hover, .share-pinterest:active {
	background:#bd081c;
}
.posts-navigation, .page-links {
	clear:both;
	margin:0 0 25px;
	font-size:13px;
	line-height:28px;
}
.posts-navigation ul, .page-links ul {
	margin:0;
	padding:0;
	list-style:none;
}
.posts-navigation li, .page-links li {
	display:inline-block;
	margin:0 10px 0 0;
	padding:0;
}
.posts-navigation li span, .posts-navigation li a, .page-links li span, .page-links li a {
	display:inline-block;
	margin:0;
	padding:0 10px;
	border:1px solid #dddddd;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#f5f5f5;
}
.posts-navigation a:hover, .page-links a:hover {
	text-decoration:none;
}
.posts-navigation .current, .page-links .current {
	font-weight:bold;
}
.comment-navigation, .post-navigation {
	overflow:hidden;
	margin:0 0 30px;
}
.post-navigation .nav-previous, .comment-navigation .nav-previous {
	float:left;
	width:50%;
}
.post-navigation .nav-next, .comment-navigation .nav-next {
	float:right;
	width:50%;
	text-align:right;
}
.entry-gallery {
	margin:0 -5px;
	padding-bottom:20px;
}
.entry-gallery h3 {
	margin:0 0 20px;
	font-size:18px;
	font-weight:bold;
}
.entry-gallery:before, .entry-gallery:after {
	display:table;
	content:"";
}
.entry-gallery:after {
	clear:both;
}
.entry-gallery .thumbnail {
	float:left;
	width:20%;
	padding:0 5px 10px 5px;
}
.entry-gallery .thumbnail a {
	display:block;
	line-height:0;
}
.entry-gallery .thumbnail img {
	padding:3px;
	border:1px solid #dddddd;
}
.related-posts {
	padding-bottom:30px;
}
.related-posts h3 {
	margin:40px 0 0;
	font-size:22px;
	font-weight:normal;
	line-height:36px;
}
.related-posts ul {
	margin:0;
	padding:0;
	list-style:none;
}
.related-posts li {
	clear:both;
	overflow:hidden;
	width:100%;
	padding:20px 0;
	border-bottom:1px dotted #dddddd;
}
.related-posts li img {
	margin-bottom:0;
	padding-bottom:0;
}
.related-posts li h4 {
	margin:0 0 5px;
	font-size:18px;
}
.related-posts li p {
	margin:0;
}
.error-404 {
	text-align:center;
}
.contact-error {
	color:red;
}
.contact-form input[type="text"], .contact-form textarea {
	display:block;
	width:100%;
}
span.contact-error {
	display:block;
	padding-top:5px;
	font-style:italic;
}
.marketing-unit {
	margin:0 0 20px;
}
.marketing-site-content-top {
	clear:both;
	max-width:930px;
	margin:0 auto 50px;
	padding:0 15px;
}
.marketing-site-content-bottom {
	clear:both;
	max-width:930px;
	margin:0 auto 50px;
	padding:0 15px;
}
.marketing-post-row {
	margin:0 0 50px;
}
.marketing-sample {
	padding:15px 20px;
	border:1px solid #dddddd;
	-moz-border-radius:2px;
	border-radius:2px;
	color:#999999;
	background:#f5f5f5;
	font-size:13px;
	text-align:center;
	text-transform:uppercase;
}
/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title, .archive .format-aside .entry-title {
	display:none;
}
/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comments-title, .comment-reply-title {
	margin:20px 0 10px;
	font-size:24px;
	font-weight:normal;
	line-height:36px;
}
.comment-content a {
	word-wrap:break-word;
}
.bypostauthor {
	display:block;
}
.comment-list {
	margin:0;
	padding:20px 0 10px;
	font-size:13px;
	list-style:none;
}
.comment-list .children {
	margin:0;
	padding:0 0 0 30px;
}
.comment-body {
	position:relative;
	margin:0 0 20px;
	padding:20px;
	border:1px solid #dddddd;
}
.comment-metadata {
	font-size:11px;
}
.comment-body .says {
	display:none;
}
.comment-body .avatar {
	float:right;
	width:50px;
	height:50px;
	margin:0 0 0 20px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#eeeeee;
}
.comment-content p {
	margin:0.5em 0;
}
#cancel-comment-reply-link {
	color:red;
	font-size:14px;
	text-transform:uppercase;
}
.comment-form label {
	display:none;
	color:#999999;
	font-size:14px;
}
#reviews .comment-form label, .woocommerce-Reviews .comment-form label {
	display:block;
}
.comment-form-comment {
	clear:both;
	margin:0;
}
.comment-form-comment textarea {
	margin:5px 0 0;
}
.comment-form-author, .comment-form-email {
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:50%;
	margin:0 0 15px;
}
.comment-form-author input, .comment-form-email input, .comment-form-url input {
	display:block;
	width:100%;
	margin:5px 0 0;
}
.comment-form-email {
	padding:0 0 0 10px;
}
.comment-form .form-submit {
	clear:both;
	padding-top:10px;
}
/*--------------------------------------------------------------
11.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
	margin-top:0;
	margin-bottom:0;
	padding:0;
	border:none;
}
/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
	max-width:100%;
}
/*--------------------------------------------------------------
11.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	max-width:100%;
	margin-bottom:1.5em;
}
.wp-caption img[class*="wp-image-"] {
	display:block;
	margin:0 auto;
}
.wp-caption-text {
	text-align:center;
}
.wp-caption .wp-caption-text {
	margin:0.8075em 0;
}
/*--------------------------------------------------------------
11.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom:1.5em;
}
.gallery-item {
	display:inline-block;
	width:100%;
	padding:0 5px 15px;
	text-align:center;
	vertical-align:top;
}
.gallery-columns-2 .gallery-item {
	max-width:50%;
}
.gallery-columns-3 .gallery-item {
	max-width:33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width:25%;
}
.gallery-columns-5 .gallery-item {
	max-width:20%;
}
.gallery-columns-6 .gallery-item {
	max-width:16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width:14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width:12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width:11.11%;
}
.gallery-caption {
	display:block;
}
/*--------------------------------------------------------------
12.0 Vendors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
13.0 Addons
--------------------------------------------------------------*/
#croppic {
	float:right;
	margin-bottom:30px;
}
#cropContainerHeaderButton {
	float:left;
	margin:20px 0;
	text-align:center;
}
table.formprofil td {
	padding:10px 0 10px 10px;
	border-top:1px solid #dddddd;
	font-size:14px;
}
table.formprofil td[align="right"] {
	width:35%;
	text-align:right;
}
table.formprofil input[type="text"], table.formprofil input[type="email"], table.formprofil input[type="password"] {
	width:100%;
}
table.formprofil input[name="username"], table.formprofil input[name="subdomain"] {
	max-width:150px;
}
table.formprofil input[type="submit"] {
	float:right;
}
.widget_data_sponsor img {
	float:right !important;
	margin:0 0 0 15px !important;
}
/*--------------------------------------------------------------
13.1 WooCommerce
--------------------------------------------------------------*/
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
	margin:0 0 20px;
}
.woocommerce .woocommerce-breadcrumb {
	margin:0 0 20px;
}
.woocommerce span.onsale {
	top:0;
	left:0;
	width:auto;
	min-width:auto;
	height:auto;
	min-height:auto;
	margin:0.5em;
	padding:8px 15px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#d9534f;
	font-size:12px;
	line-height:1em;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	margin-bottom:20px;
}
.woocommerce ul.products li.product .onsale {
	margin:0.5em;
}
.woocommerce ul.products li.product a img {
	border:1px solid #dddddd;
	-moz-border-radius:3px;
	border-radius:2px;
}
.woocommerce ul.products li.product h3 {
	/*line-height: 1.65em;*/
	/*height: 4em;*/
	/*overflow: hidden;*/
}
.woocommerce ul.products li.product .price del {
	display:inline;
}
.woocommerce ul.products li.product .button {
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}
.woocommerce nav.woocommerce-pagination {
	margin-bottom:30px;
}
.woocommerce nav.woocommerce-pagination ul {
	-moz-border-radius:3px;
	border-radius:3px;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	padding:10px 15px;
}
.woocommerce div.product .product_title {
	line-height:1.2;
}
.no-touchevents .woocommerce .quantity .qty {
	padding-right:0;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	min-width:100px;
}
.woocommerce form .form-row .select2-container {
	font-size:13px;
	line-height:2em;
}
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
	padding:7px 6px;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background:#5cb85c;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	opacity:0.8;
	background:#5cb85c;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
	background:#5cb85c;
}
.woocommerce ul.products li.product .price {
	color:#d9534f;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
	color:#d9534f;
}
.woocommerce #reviews #comments ol.commentlist {
	padding:0;
}
.select2-container .select2-choice {
	padding-top:2px;
	padding-bottom:2px;
}
@media (min-width: 769px) {
	.woocommerce-account .woocommerce-MyAccount-navigation {
		width:29%;
		padding-top:15px;
	}
	.woocommerce-account .woocommerce-MyAccount-content {
		float:right;
		width:68%;
	}
}
.woocommerce-MyAccount-navigation ul {
	margin:0 0 30px;
	padding:0;
	border-top:1px solid #f2f0f0;
}
.woocommerce-MyAccount-navigation ul li {
	position:relative;
	border-bottom:1px solid #f2f0f0;
	list-style:none;
}
.woocommerce-MyAccount-navigation ul li.is-active {
	font-weight:bold;
}
.woocommerce-MyAccount-navigation ul li.is-active a:before {
	opacity:1;
}
.woocommerce-MyAccount-navigation ul li a {
	display:block;
	padding:0.857em 0;
}
.woocommerce-MyAccount-navigation ul li a:before {
	display:inline-block;
	float:right;
	width:1.387em;
	margin-left:0.53em;
	opacity:0.25;
	font-family:FontAwesome;
	font-size:inherit;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	line-height:1.618;
	text-align:right;
	content:"\f0f6";
}
.woocommerce-MyAccount-navigation ul li a:hover:before {
	opacity:1;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
	content:"\f0e4";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
	content:"\f291";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
	content:"\f1c6";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
	content:"\f015";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
	content:"\f09d";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
	content:"\f007";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
	content:"\f08b";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
	content:"\f021";
}
@media (min-width: 769px) {
	.woocommerce #customer_details.col2-set .col-1, .woocommerce-page #customer_details.col2-set .col-1, .woocommerce #customer_details.col2-set .col-2, .woocommerce-page #customer_details.col2-set .col-2 {
		float:none;
		clear:both;
		width:100%;
	}
	.woocommerce #customer_details.col2-set, .woocommerce-page #customer_details.col2-set {
		float:left;
		width:43%;
		margin-right:4%;
		margin-left:0;
	}
	#order_review, #order_review_heading {
		float:right;
		clear:right;
		width:53%;
		margin-right:0;
		margin-left:0;
	}
	#order_review {
		margin-top:10px;
		font-size:14px;
	}
}
.woocommerce .quantity, .woocommerce-page .quantity {
	display:inline-block;
	position:relative;
}
.woocommerce .quantity .qty {
	width:60px;
}
.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus {
	margin:0;
	border:0;
	color:#333333;
	background:0;
}
.woocommerce .quantity .plus:hover, .woocommerce .quantity .minus:hover, .woocommerce-page .quantity .plus:hover, .woocommerce-page .quantity .minus:hover {
	border:0;
	color:#333333;
	background:0;
}
.woocommerce .quantity .plus:focus, .woocommerce .quantity .minus:focus, .woocommerce-page .quantity .plus, :focus .woocommerce-page .quantity .minus:focus {
	outline:0;
}
.woocommerce .quantity .plus, .woocommerce-page .quantity .plus {
	position:absolute;
	top:0;
	right:0;
	height:100%;
	padding-right:5px;
	padding-left:3px;
}
.woocommerce .quantity .minus, .woocommerce-page .quantity .minus {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	padding-right:3px;
	padding-left:5px;
}
form.woocommerce-checkout:before, form.woocommerce-checkout:after {
	display:table;
	content:"";
}
form.woocommerce-checkout:after {
	clear:both;
}
.lp-product-cta {
	margin-bottom:2em;
}
.woocommerce div.product form.cart {
	margin-bottom:0;
}
.woocommerce div.product form.cart .quantity {
	margin-bottom:10px !important;
}
.woocommerce div.product form.cart .quantity .qty {
	padding-top:8px;
	padding-bottom:8px;
	font-size:20px;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button, .woocommerce div.product .button.single_add_to_cart_whatsapp {
	margin-bottom:10px;
	padding:15px 25px;
	font-size:20px;
	text-align:center;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button:before {
	display:inline-block;
	margin-right:12px;
	font-family:"FontAwesome";
	font-weight:300;
	content:"\f217";
}
.woocommerce div.product .button.single_add_to_cart_whatsapp i {
	margin-right:7px;
	font-weight:300;
}
.upsells.products, .related.products {
	clear:both;
}
@media (max-width: 500px) {
	.sticky-addtocart-yes .lp-product-cta {
		display:block;
		position:fixed;
		z-index:99999;
		right:0;
		bottom:0;
		left:0;
		margin:0 !important;
		padding:10px 10px 0;
		-moz-border-radius:0 !important;
		border-radius:0 !important;
		background:#ffffff;
		-webkit-box-shadow:0 0 30px 0 rgba(0,0,0,0.2);
		-moz-box-shadow:0 0 30px 0 rgba(0,0,0,0.2);
		box-shadow:0 0 30px 0 rgba(0,0,0,0.2);
		text-align:center;
	}
	.sticky-addtocart-yes .lp-product-cta form.cart {
		margin:0 !important;
		padding:0 !important;
	}
	.sticky-addtocart-yes .lp-product-cta form.cart .variations {
		display:inline-block !important;
		width:auto !important;
		margin:0 0 -5px !important;
	}
	.sticky-addtocart-yes .lp-product-cta form.cart .variations td.label {
		padding:0 5px 7px !important;
		font-size:14px !important;
		line-height:32px !important;
	}
	.sticky-addtocart-yes .lp-product-cta form.cart .variations td.value {
		padding:0 5px 7px !important;
		font-size:14px !important;
		line-height:32px !important;
	}
	.sticky-addtocart-yes .lp-product-cta form.cart .variations select {
		margin-right:0 !important;
	}
	.sticky-addtocart-yes .lp-product-cta form.cart .reset_variations, .sticky-addtocart-yes .lp-product-cta form.cart .woocommerce-variation-description {
		display:none !important;
	}
	.sticky-addtocart-yes .lp-product-cta form.cart .woocommerce-variation-price, .sticky-addtocart-yes .lp-product-cta form.cart .woocommerce-variation-availability {
		display:inline-block !important;
	}
	.sticky-addtocart-yes .lp-product-cta p.price, .sticky-addtocart-yes .lp-product-cta span.price, .sticky-addtocart-yes .lp-product-cta p.stock {
		margin:0 !important;
		padding:0 0 10px !important;
		font-size:14px !important;
		line-height:1.3 !important;
	}
	.sticky-addtocart-yes .lp-product-cta form.cart .button.single_add_to_cart_button, .sticky-addtocart-yes .lp-product-cta .button.single_add_to_cart_whatsapp {
		display:block !important;
		clear:both !important;
		width:100% !important;
		margin-bottom:10px !important;
		padding:14px 7px !important;
		font-size:16px !important;
		text-align:center !important;
	}
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	display:none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	-moz-border-radius:0;
	border-radius:0;
}
@media (max-width: 550px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding:0 !important;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		display:block !important;
		margin:0 !important;
	}
}
.woocommerce form .form-row .optional {
	display:none;
}
/*--------------------------------------------------------------
13.2 Page Builder
--------------------------------------------------------------*/
.header-active.elementor-editor-active .elementor-inner, .header-menu-active.elementor-editor-active .elementor-inner, .page-template-default.elementor-editor-active .elementor-inner, .page-landingpress-boxed.elementor-editor-active .elementor-inner, .page-landingpress-boxed-hf.elementor-editor-active .elementor-inner, .page-landingpress-slim.elementor-editor-active .elementor-inner, .page-landingpress-slim-hf.elementor-editor-active .elementor-inner {
	margin-top:0;
}
.page-template-elementor_canvas.elementor-editor-active .elementor-inner {
	margin-top:25px !important;
}
.elementor-column-gap-default .elementor-element-populated {
	padding:10px;
}
.elementor-column-gap-narrow .elementor-element-populated {
	padding:5px;
}
.elementor-column-gap-extended .elementor-element-populated {
	padding:15px;
}
.elementor-column-gap-wide .elementor-element-populated {
	padding:20px;
}
.elementor-column-gap-wider .elementor-element-populated {
	padding:30px;
}
.elementor-button:hover {
	text-decoration:none;
}
.elementor-image .elementor-magnific-popup-video {
	display:inline-block;
	position:relative;
}
.elementor-image .elementor-magnific-popup-video i {
	position:absolute;
	top:50%;
	left:50%;
	width:68px;
	height:68px;
	margin-top:-34px;
	margin-left:-34px;
	opacity:0.9;
	color:#282828;
	font-size:68px;
	line-height:1;
	-webkit-transition:opacity 0.25s cubic-bezier(0.0,0.0,0.2,1);
	-moz-transition:opacity 0.25s cubic-bezier(0.0,0.0,0.2,1);
	transition:opacity 0.25s cubic-bezier(0.0,0.0,0.2,1);
}
.elementor-image .elementor-magnific-popup-video:hover i {
	opacity:1;
	color:#ff0000;
}
.elementor-widget-icon-list .elementor-icon-list-item {
	position:relative !important;
	padding-left:25px !important;
}
.elementor-widget-icon-list .elementor-icon-list-icon {
	position:absolute !important;
	top:0 !important;
	left:0 !important;
	line-height:inherit !important;
}
.elementor-widget-icon-list .elementor-icon-list-text {
	display:inline-block !important;
}
.elementor-lp-form-wrapper {
	text-align:center;
}
.elementor-lp-form-wrapper form {
	display:inline-block;
	margin:0 auto;
	text-align:left;
}
@media (max-width: 400px) {
	.elementor-lp-form-wrapper form {
		width:100%;
	}
}
.elementor-lp-form-wrapper label {
	display:block;
}
.elementor-lp-form-wrapper input[type="text"], .elementor-lp-form-wrapper input[type="email"], .elementor-lp-form-wrapper textarea, .elementor-lp-form-wrapper .contact-form input[type="text"], .elementor-lp-form-wrapper .contact-form input[type="email"], .elementor-lp-form-wrapper .contact-form textarea {
	min-width:300px;
	max-width:100%;
	margin:0 0 10px;
	padding:11px 20px;
	border:0;
	background:#f7f7f7;
	line-height:1;
}
@media (max-width: 400px) {
	.elementor-lp-form-wrapper input[type="text"], .elementor-lp-form-wrapper input[type="email"], .elementor-lp-form-wrapper textarea, .elementor-lp-form-wrapper .contact-form input[type="text"], .elementor-lp-form-wrapper .contact-form input[type="email"], .elementor-lp-form-wrapper .contact-form textarea {
		min-width:100%;
	}
}
.elementor-lp-form-wrapper input[type="file"], .elementor-lp-form-wrapper select {
	margin:0 0 10px;
}
.elementor-lp-form-wrapper input[type="submit"], .elementor-lp-form-wrapper button {
	padding:12px 24px;
	border:0;
	color:#ffffff;
	line-height:1;
	text-align:center;
}
.elementor-lp-form-wrapper dd, .elementor-lp-form-wrapper dl {
	margin:0;
	padding:0;
}
.elementor-lp-form-wrapper.elementor-lp-form-display-inline form {
	text-align:center;
}
.elementor-lp-form-wrapper.elementor-lp-form-display-inline label, .elementor-lp-form-wrapper.elementor-lp-form-display-inline br {
	display:none;
}
.elementor-lp-form-wrapper.elementor-lp-form-display-inline form div, .elementor-lp-form-wrapper.elementor-lp-form-display-inline form dl, .elementor-lp-form-wrapper.elementor-lp-form-display-inline form dd, .elementor-lp-form-wrapper.elementor-lp-form-display-inline form label, .elementor-lp-form-wrapper.elementor-lp-form-display-inline form input[type="text"], .elementor-lp-form-wrapper.elementor-lp-form-display-inline form input[type="email"], .elementor-lp-form-wrapper.elementor-lp-form-display-inline form textarea, .elementor-lp-form-wrapper.elementor-lp-form-display-inline form input[type="submit"], .elementor-lp-form-wrapper.elementor-lp-form-display-inline form button {
	display:inline-block;
}
.elementor-lp-form-wrapper.elementor-button-width-input input[type="submit"], .elementor-lp-form-wrapper.elementor-button-width-input button, .elementor-lp-form-wrapper.elementor-lp-form-button-align-fullwidth input[type="submit"], .elementor-lp-form-wrapper.elementor-lp-form-button-align-fullwidth button {
	min-width:300px;
	max-width:100%;
}
.elementor-lp-form-wrapper.elementor-lp-form-button-align-left .lp-form-field-submit {
	text-align:left;
}
.elementor-lp-form-wrapper.elementor-lp-form-button-align-right .lp-form-field-submit {
	text-align:right;
}
@media (max-width: 400px) {
	.elementor-lp-form-wrapper.elementor-button-width-input input[type="submit"], .elementor-lp-form-wrapper.elementor-button-width-input button {
		min-width:100%;
	}
}
.elementor-lp-form-wrapper.elementor-lp-form-display-fullwidth form, .elementor-lp-form-wrapper.elementor-lp-form-display-fullwidth div, .elementor-lp-form-wrapper.elementor-lp-form-display-fullwidth label, .elementor-lp-form-wrapper.elementor-lp-form-display-fullwidth input[type="text"], .elementor-lp-form-wrapper.elementor-lp-form-display-fullwidth input[type="email"], .elementor-lp-form-wrapper.elementor-lp-form-display-fullwidth textarea {
	display:block;
	width:100%;
}
.elementor-lp-form-wrapper.elementor-button-width-input.elementor-lp-form-display-fullwidth input[type="submit"], .elementor-lp-form-wrapper.elementor-button-width-input.elementor-lp-form-display-fullwidth button, .elementor-lp-form-wrapper.elementor-lp-form-button-align-fullwidth.elementor-lp-form-display-fullwidth input[type="submit"], .elementor-lp-form-wrapper.elementor-lp-form-button-align-fullwidth.elementor-lp-form-display-fullwidth button {
	display:block;
	width:100%;
}
.lp-form-field-important, .lp-form-field-important label, .lp-form-field-important input {
	display:none !important;
}
.lp-form-error, .lp-form-alert {
	margin:0 0 15px;
	color:red;
	font-size:12px;
	font-style:italic;
}
.lp-form-alert-success {
	color:green;
}
.elementor-button-floating-yes, .elementor-button-sticky-yes, .elementor-section.elementor-element.sticky {
	display:block;
	position:fixed;
	z-index:99999;
	right:0;
	bottom:0;
	left:0;
	margin:0;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
}
.elementor-button-sticky-yes, .elementor-section.elementor-element.sticky {
	padding:10px;
	background:#ffffff;
	-webkit-box-shadow:0 0 30px 0 rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 30px 0 rgba(0,0,0,0.2);
	box-shadow:0 0 30px 0 rgba(0,0,0,0.2);
	text-align:center;
}
@media (max-width: 767px) {
	.elementor-button-sticky-yes .elementor-button {
		display:block;
	}
	.elementor-section.elementor-element.sticky, .elementor-section.elementor-element.sticky .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
		padding:5px;
	}
}
@media (min-width: 1025px) {
	body:not(.elementor-editor-active) .elementor-section.elementor-element.sticky.elementor-hidden-desktop {
		display:none !important;
	}
}
@media (max-width: 1024px) and (min-width: 768px) {
	body:not(.elementor-editor-active) .elementor-section.elementor-element.sticky.elementor-hidden-tablet {
		display:none !important;
	}
}
@media (max-width: 767px) {
	body:not(.elementor-editor-active) .elementor-section.elementor-element.sticky.elementor-hidden-phone {
		display:none !important;
	}
}
.elementor-countdown-simple {
	padding:10px 0 0;
	text-align:center;
}
.elementor-countdown-simple .count-container {
	display:inline-block;
}
.elementor-countdown-simple .count-box {
	float:left;
	min-width:60px;
	margin:5px;
}
.elementor-countdown-simple .count-num {
	display:block;
	padding:5px;
	-moz-border-radius:3px;
	border-radius:3px;
	font-size:30px;
	text-align:center;
}
.elementor-countdown-simple .count-label {
	display:block;
	font-size:12px;
	line-height:20px;
	text-align:center;
}
.elementor-countdown-floating-yes {
	display:block;
	position:fixed;
	z-index:99999;
	right:0;
	bottom:0;
	left:0;
	margin:0;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
}
@media (min-width: 768px) {
	.elementor-countdown-floating-yes .countdown-intro {
		display:inline-block;
		padding:22px 20px 0 0;
		vertical-align:top;
	}
}
html.no-flexbox .elementor-row {
	display:block !important;
}
html.no-flexbox .elementor-column {
	display:block !important;
	float:left !important;
	width:100%;
}
html.no-flexbox .elementor-column-wrap {
	display:block !important;
}
.elementor-popup-block-white {
	position:relative;
	max-width:650px;
	margin:40px auto;
	padding:30px;
	background:#ffffff;
	text-align:left;
}
.elementor-popup-preview-notice {
	display:none;
}
.elementor-editor-active .elementor-popup-preview-notice {
	display:block;
	margin:10px 0 0;
	color:#999999;
	font-size:12px;
	text-align:center;
}
.elementor-social-icon {
	color:#ffffff;
}
.elementor-button:hover, .elementor-button:focus, .elementor-button:visited {
	opacity:1;
}
.lp-video-container {
	overflow:hidden;
	position:relative;
	height:0;
	padding-top:0;
	padding-bottom:56.25%; /*16:9*/
}
.lp-video-container iframe, .lp-video-container object, .lp-video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.elementor-widget-lp_video_youtube.elementor-aspect-ratio-169 .lp-video-container, .elementor-widget-lp_video_facebook.elementor-aspect-ratio-169 .lp-video-container {
	padding-bottom:56.25%;
}
.elementor-widget-lp_video_youtube.elementor-aspect-ratio-43 .lp-video-container, .elementor-widget-lp_video_facebook.elementor-aspect-ratio-43 .lp-video-container {
	padding-bottom:75%;
}
.elementor-widget-lp_video_youtube.elementor-aspect-ratio-32 .lp-video-container, .elementor-widget-lp_video_facebook.elementor-aspect-ratio-32 .lp-video-container {
	padding-bottom:66.6666%;
}
.mfp-hide {
	display:none !important;
}
.mfp-wrap {
	z-index:999999 !important;
}
.mfp-iframe-holder {
	padding-top:80px !important;
	padding-bottom:80px !important;
}
.mfp-fade.mfp-bg {
	opacity:0;
	-webkit-transition:all 0.15s ease-out;
	-moz-transition:all 0.15s ease-out;
	transition:all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity:0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity:0;
}
.mfp-fade.mfp-wrap .mfp-content {
	opacity:0;
	-webkit-transition:all 0.15s ease-out;
	-moz-transition:all 0.15s ease-out;
	transition:all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity:1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity:0;
}
.webui-popover .webui-popover-inner {
	text-align:center;
}
.webui-popover-inverse .webui-popover-inner .close {
	opacity:1;
	color:#ffffff;
	text-shadow:0 1px 0 #000000;
	filter:alpha(opacity=100);
}
.is-sticky .lp-navmenu-wrapper.lp-navmenu-sticky {
	z-index:99999 !important;
	left:0 !important;
	width:100% !important;
	max-width:100% !important;
	background:#f5f5f5;
}
.admin-bar .is-sticky .lp-navmenu-wrapper.lp-navmenu-sticky {
	top:32px !important;
}
@media screen and (max-width: 782px) {
	.admin-bar .is-sticky .lp-navmenu-wrapper.lp-navmenu-sticky {
		top:46px !important;
	}
}
@media screen and (max-width: 600px) {
	.admin-bar .is-sticky .lp-navmenu-wrapper.lp-navmenu-sticky {
		top:0 !important;
	}
}
.lp-navmenu-logo {
	float:left;
	padding:10px 15px;
}
.lp-navmenu-logo img {
	float:left;
	height:45px;
}
.lp-navmenu-button {
	display:none;
	float:right;
	padding:0 15px;
	color:#999999;
	font-size:24px;
	line-height:65px;
	cursor:pointer;
}
.lp-navmenu-items {
	float:right;
	margin:0;
	padding:0;
	border-bottom:0 solid #999999;
	list-style:none;
}
.lp-navmenu-items li {
	float:left;
	position:relative;
	border-top:0 solid #999999;
	list-style:none;
	-webkit-backface-visibility:hidden; /* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
	-webkit-overflow-scrolling:touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
}
.lp-navmenu-items li a, .lp-navmenu-items li a:visited {
	display:block;
	padding:0 15px;
	color:#999999;
	font-size:13px;
	line-height:65px;
	text-decoration:none;
	letter-spacing:1px;
	text-transform:uppercase;
}
.lp-navmenu-items li a:hover {
	text-decoration:none;
}
.lp-slider-wrapper .slick-slide-inner {
	position:relative;
}
.lp-slider-wrapper .lp-slide-image-caption {
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	padding:20px 20px;
	color:#ffffff;
	background:rgba( 0,0,0,0.5);
	font-size:18px;
	text-align:center;
}
.lp-slider-wrapper .slick-image-stretch .slick-slide .slick-slide-image {
	width:100%;
}
.elementor-widget-lp_slider_content .slick-slide-inner {
	/*padding-top:40px;*/
	/*padding-bottom:40px;*/
}
.lp-slider-content {
	/*padding-top:30px;*/
	/*padding-bottom:10px;*/
}
@media (min-width: 768px) {
	.lp-slider-content {
		padding-right:30px;
	}
}
.lp-slider-heading {
	margin:0;
	padding:10px 0;
	color:#333333;
	font-size:36px;
	line-height:1em;
}
.lp-slider-description {
	margin:0;
	padding:10px 0;
	color:#333333;
}
.elementor-button.lp-slider-button {
	margin:10px 0 10px 0;
	border:2px solid #333333;
	color:#333333;
	background:none;
	text-decoration:none;
}
.elementor-button.lp-slider-button:hover, .elementor-button.lp-slider-button:focus, .elementor-button.lp-slider-button:visited {
	color:#333333;
	text-decoration:none;
}
.lp-posts-grid-wrapper ul {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0 -15px;
	padding:0;
	list-style:none;
}
.lp-posts-grid-wrapper li {
	float:left;
	width:100%;
	margin:0;
	padding:0 15px 20px;
	list-style:none;
}
.lp-posts-grid-wrapper li img {
	display:block;
	width:100%;
	margin:0 0 15px;
}
.lp-posts-grid-wrapper li h4 {
	margin:0 0 10px;
}
.lp-posts-grid-wrapper li h4 a {
	color:#333333;
	font-size:18px;
}
.lp-posts-grid-wrapper.truncate-title-yes li h4 {
	display:block;
	overflow:hidden;
	max-width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	word-wrap:normal;
}
.lp-posts-grid-wrapper li p {
	margin:0 0 10px;
	font-size:14px;
}
.lp-posts-grid-wrapper li .readmore {
	margin:0 0 10px;
	font-size:14px;
	font-weight:bold;
}
.lp-posts-grid-navigation {
	padding-top:10px;
}
@media (min-width: 361px) and (max-width: 768px) {
	.lp-posts-grid-wrapper li {
		width:50%;
	}
	.lp-posts-grid-wrapper li:nth-child(2n+1) {
		clear:both;
	}
}
@media (min-width: 769px) {
	.lp-posts-grid-wrapper.lp-posts-grid-columns-1 li {
		width:100%;
	}
	.lp-posts-grid-wrapper.lp-posts-grid-columns-2 li {
		width:50%;
	}
	.lp-posts-grid-wrapper.lp-posts-grid-columns-2 li:nth-child(2n+1) {
		clear:both;
	}
	.lp-posts-grid-wrapper.lp-posts-grid-columns-3 li {
		width:33.333333%;
	}
	.lp-posts-grid-wrapper.lp-posts-grid-columns-3 li:nth-child(3n+1) {
		clear:both;
	}
	.lp-posts-grid-wrapper.lp-posts-grid-columns-4 li {
		width:25%;
	}
	.lp-posts-grid-wrapper.lp-posts-grid-columns-4 li:nth-child(4n+1) {
		clear:both;
	}
	.lp-posts-grid-wrapper.lp-posts-grid-columns-5 li {
		width:20%;
	}
	.lp-posts-grid-wrapper.lp-posts-grid-columns-5 li:nth-child(5n+1) {
		clear:both;
	}
	.lp-posts-grid-wrapper.lp-posts-grid-columns-6 li {
		width:16.6666667%;
	}
	.lp-posts-grid-wrapper.lp-posts-grid-columns-6 li:nth-child(6n+1) {
		clear:both;
	}
}
/*--------------------------------------------------------------
14.0 Responsive
--------------------------------------------------------------*/
@media (max-width: 992px) {
	.main-navigation li.header-searchform .search-field {
		width:155px;
	}
}
@media (max-width: 768px) {
	.main-navigation {
		position:relative;
	}
	.main-navigation ul.menu {
		clear:both;
		border-top:1px solid rgba(255, 255, 255, 0.1);
	}
	.main-navigation li {
		width:100%;
		border-bottom:1px solid rgba(255, 255, 255, 0.1);
		text-align:left;
	}
	.main-navigation li:last-child {
		border:none;
	}
	.main-navigation li.header-searchform {
		height:auto;
		padding:15px !important;
	}
	.main-navigation li.header-searchform .search-field {
		width:100%;
	}
	.main-navigation li.header-minicart {
		display:none;
	}
	.main-navigation ul ul {
		background:transparent !important;
	}
	.main-navigation ul ul a {
		width:auto;
	}
	.main-navigation li a, .main-navigation li a:visited {
		color:#999999 !important;
		line-height:45px;
	}
	.main-navigation li a:hover {
		color:#ffffff !important;
	}
	/*.main-navigation li ul {*/
	.main-navigation ul li:hover > ul, .main-navigation ul ul li:hover > ul {
		position:static;
		top:auto;
		left:auto;
		width:100%;
		border-top:1px solid rgba(255, 255, 255, 0.1);
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	.main-navigation ul li.menu-item-has-children > a:after {
		/*display:none;*/
		position:absolute;
		top:0;
		right:15px;
		content:"\f105";
	}
	.main-navigation li li a {
		padding-left:30px !important;
	}
	.main-navigation li li li a {
		padding-left:45px !important;
	}
	.main-navigation li li li li a {
		padding-left:60px !important;
	}
	.main-navigation .header-menu-container {
		overflow:hidden;
		overflow-y:auto;
		position:fixed;
		z-index:9999;
		top:0;
		left:0;
		width:255px;
		height:100%;
		margin-left:-255px;
		background:#111111;
		-webkit-transition:-webkit-transform 300ms ease-in-out;
		-moz-transition:transform 300ms ease-in-out, -moz-transform 300ms ease-in-out;
		transition:-webkit-transform 300ms ease-in-out;
		transition:transform 300ms ease-in-out;
		transition:transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out, -moz-transform 300ms ease-in-out;
		transition:transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		-ms-transform:translateX(0px);
		transform:translateX(0px);
		-webkit-backface-visibility:hidden; /* Prevents flickering, may be removed if experiencing problems with fixed background images in Chrome. */
		-webkit-overflow-scrolling:touch; /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
		will-change:transform;
	}
	.main-navigation.toggled .header-menu-container {
		margin-left:-255px;
		-webkit-transform:translateX(255px);
		-moz-transform:translateX(255px);
		-ms-transform:translateX(255px);
		transform:translateX(255px);
	}
	.menu-toggle, .menu-minicart {
		display:block !important;
	}
	.main-navigation.toggled .menu-overlay {
		display:block !important;
	}
	.admin-bar .main-navigation ul.menu {
		margin-top:46px;
	}
	.admin-bar .menu-overlay:before, .admin-bar .menu-overlay:after {
		top:66px;
	}
	.main-navigation.main-navigation-logo-yes.main-navigation-cart-no .menu-toggle {
		float:right;
	}
	.main-navigation.main-navigation-logo-yes.main-navigation-cart-yes {
		text-align:center;
	}
	.main-navigation.main-navigation-logo-yes.main-navigation-cart-yes a.menu-logo {
		display:inline-block;
		float:none;
	}
}
@media (max-width: 768px) {
	.site-content .content-area {
		float:none;
		width:100%;
	}
	.site-content .widget-area {
		float:none;
		width:100%;
	}
	.footer-col {
		float:none;
		width:100%;
	}
	.lp-navmenu-button {
		display:block;
	}
	.lp-navmenu-items {
		display:none;
		float:none;
		clear:both;
		width:100%;
		padding-top:10px;
		border-bottom-width:1px;
	}
	.lp-navmenu-toggled .lp-navmenu-items {
		display:block;
	}
	.lp-navmenu-items li {
		display:block;
		float:none;
		width:100%;
		border-top-width:1px;
	}
	.lp-navmenu-items li a, .lp-navmenu-items li a:visited {
		line-height:40px;
	}
}
@media (max-width: 700px) {
	.site-container {
		padding:0;
	}
	.site-header {
		margin-top:0;
		margin-bottom:0;
	}
	.site-header, .site-branding, .site-inner, .header-image-active .site-header-image, .main-navigation, .site-footer-widgets, .site-footer .container {
		-moz-border-radius:0 !important;
		border-radius:0 !important;
	}
}
@media (max-width: 500px) {
	.main-navigation .container, .site-inner .container {
		padding-right:0;
		padding-left:0;
	}
	.container {
		padding-right:15px;
		padding-left:15px;
	}
	.main-navigation.main-navigation-logo-yes.main-navigation-cart-yes .menu-toggle {
		padding-right:0;
	}
	.main-navigation.main-navigation-logo-yes.main-navigation-cart-yes a.menu-logo {
		padding-right:0;
		padding-left:0;
	}
	.main-navigation.main-navigation-logo-yes.main-navigation-cart-yes a.menu-minicart {
		padding-left:0;
	}
	.blog-layout-thumb-medium-left .blog-section-image, .blog-layout-thumb-medium-left .blog-section-content, .blog-layout-thumb-medium-right .blog-section-image, .blog-layout-thumb-medium-right .blog-section-content {
		float:none !important;
		width:100% !important;
	}
	.blog-layout-gallery-2cols {
		float:none !important;
		width:100% !important;
		padding-right:0 !important;
		padding-left:0 !important;
	}
	.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
		float:none;
		text-align:center;
	}
	.woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button {
		display:block !important;
		float:none;
		width:100%;
		margin-bottom:10px !important;
		text-align:center;
	}
	.minicart-text {
		display:none !important;
	}
}