<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>  Real<br />
0-1 Hour Start!<br />
50K - 100K/Day<br />
Multiple of 100<br />
Minimum 100</td>
	</tr>
</table>
</div>