<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Real<br />
0-1 Hour Start!<br />
10K - 100K/Day<br />
Minimum 20</td>
	</tr>
</table>
</div>