<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>real indo<br />
jika tidak bisa berarti lagi ada orderan yg banyak/ db lagi kami refresh</td>
	</tr>
</table>
</div>