<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>High Quality<br />
Indonesia<br />
Gunakan Link https://www.tokopedia.com/username<br />
Jangan https://m.tokopedia.com/username Atau pun Yang Lain Bakal Kaga bisa<br />
FORMAT WAJIB https://www.tokopedia.com/username   (username ganti dengan usernam mu)</td>
	</tr>
</table>
</div>