<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Gunakan Link feed<br />
ingat ini like feed bukan like produk gunakan link feed nya<br />
Bot Indonesia<br />
High Quality<br />
Fast Process<br />
No Refill</td>
	</tr>
</table>
</div>