<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>ingat ini like feed bukan like produk<br />
gunakan link feed nya <br />
</td>
	</tr>
</table>
</div>