<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Only For Channels<br />
Real<br />
0-1 Hour Start!<br />
24-48 Hours Delivery<br />
Minimum 100</td>
	</tr>
</table>
</div>