<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Views Will Be Added To Your Last 5 Posts<br />
Real<br />
0-1 Hour Start!<br />
24 Hours Delivery<br />
Minimum 100</td>
	</tr>
</table>
</div>