<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td> [ Lifetime Guarantee Views ]<br />
- Cheapest In Market<br />
- Start times : 0 - 1h ( Instant )<br />
- Non drop - Lifetime Guarantee Views<br />
- Speed 20k - 30k+ ( Some times will be Faster )<br />
- Retention : 0-1 Minutes +</td>
	</tr>
</table>
</div>