<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Views On The Last Story Posted ONLY !<br />
Username Only<br />
0-1 Hour Start!<br />
Ultra Fast!<br />
Minimum 20</td>
	</tr>
</table>
</div>