<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Username Only<br />
No Refill / No Refund<br />
Likes On Live Video<br />
Fast Delivery<br />
Minimum 200</td>
	</tr>
</table>
</div>