<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>bot<br />
gunakan link<br />
Contoh : https://shopee.co.id/Rok-Midi-A-Line-Lipit-Bahan-Tulle-Warna-Polos-untuk-Wanita-i.29961905.1125996814<br />
jangan pakai smttt<br />
CONTOH LINK SALAH :<br />
1. https://shopee.co.id/product/xxxxxx/xxxxxxxx?smtt=0.0.9<br />
2. https://shopee.co.id/product/xxxxxx/xxxxxxxx/?smtt=0.0.9<br />
Tolong gunakan link yang benar !</td>
	</tr>
</table>
</div>