<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Quality: High Quality<br />
Speed: 10k-15k per days<br />
Start time: Instant to 3hrs ( Some time delay if server overload or we update system)</td>
	</tr>
</table>
</div>