<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>ALL STORIES !<br />
USERNAME ONLY !<br />
INSTANT START !<br />
FAST DELIVERY !</td>
	</tr>
</table>
</div>