<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Impressions showing from ALL in the statistics (Explore, Home, Location ,Etc..)!<br />
Instant Start!<br />
Fast Delivery!<br />
Minimum 100<br />
Maximum 10M</td>
	</tr>
</table>
</div>