<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Start Time: 1 - 12 Hours<br />
- Speed : 500 - 3500/D<br />
- Refill : Non Drop - LifeTime Guarantee<br />
- Best Service in the Market<br />
- Followers from TIER 1 countries only! USA/CA/EU/AU/NZ/UK.<br />
- Quality: HQ<br />
- Min/Max: 1000/1M</td>
	</tr>
</table>
</div>