<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>No Refill / No Refund<br />
0-1 Hour Start!<br />
15K/Day<br />
Minimum 10</td>
	</tr>
</table>
</div>