<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Likes From fake profile<br />
- Speed 10k per Hrs<br />
- Start time 5 min to 1hrs<br />
Note : If ig update, it may not work till we fix</td>
	</tr>
</table>
</div>