<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Cheapest In Market after update<br />
- Start times : 0 - 1h ( Almost Instant )<br />
- Min 500 - Max 5M<br />
- Non drop - Lifetime Guarantee Views<br />
- Speed 5k+ /D<br />
- Miexed Retention</td>
	</tr>
</table>
</div>