<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Instant start<br />
- Speed 5k/D<br />
- Refill : 30 days - proses refill jika drop 10%<br />
- Channel harus menampilkan jumlah subs<br />
- Channel harus memilik minimal 1 video wajib</td>
	</tr>
</table>
</div>