<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Kualitas: Bagus<br />
Kecepatan Normal: 5k-10k per hari<br />
waktu mulai: Instant to 3 jam ( lebih lama jika overload )</td>
	</tr>
</table>
</div>