<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Proses 1x24 jam<br />
tetapi paling lama jika pesanan banyak 1- 3 hari<br />
Limit pesanan perhari 300 jadi jika tidak bisa order berarti udah limit haria<br />
silahkan di pesan esok hari<br />
Real indo<br />
tidak bisa untuk igtv!<br />
Jangan di private saat proses pesanan berlangsung!</td>
	</tr>
</table>
</div>