<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Super Fast<br />
- Real , active<br />
- Speed 5k -10k/H<br />
- No refill</td>
	</tr>
</table>
</div>