<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td> Refill 30 Days<br />
Instant Start<br />
Speed : 5K / Day<br />
Non Drop Likes</td>
	</tr>
</table>
</div>