<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Proses normal 1x 24 jam<br />
proses bisa lebih lama jika delay<br />
max 3 hari bisa kompline untuk canceled<br />
tergantung pada antrian juga<br />
Real indo, fresh db<br />
kemungkinan besar real pasif hanya 10%</td>
	</tr>
</table>
</div>