<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td> Facebook Fan Page Likes<br />
( Min 500 And Max 50k )<br />
Auto-Refill if Likes Drop<br />
( Drop Ratio: 10% but we added Auto-Refill in Backend System )<br />
( Speed 5-10k Per Day )<br />
High Quality and Real Likes<br />
Refill : 15 Days Auto Refill</td>
	</tr>
</table>
</div>