<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Start time : 0 - 6h<br />
- Guarantee: 30 days Refill if any drop ( views or watch times )<br />
- High retention : 100 mins to 120 mins watch times ( Mean : for 1 view will get 100 mins to 120 mins watch times )<br />
- Use videos longer than 2 hours to get the best effect.<br />
<br />
NOTE :<br />
- The system does not have a separate counter, so it can only rely on the number of views in the video to determine. Therefore , Please put video for non-public mode while running views.<br />
- Anda dapat menggunakan beberapa video lebih dari 2 jam di saluran yang sama untuk memesan, jadi, ini dapat mempersingkat waktu untuk menyelesaikan 4000 jam.<br />
Contoh: Menggunakan 4 video di saluran yang sama. Setiap pesanan video lebih dari 500 view. Hanya perlu 2 hari untuk menyelesaikan 4000 jam.</td>
	</tr>
</table>
</div>