<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Speed 5000 per day<br />
- Avatars Followers and Likes<br />
- 30 days warranty<br />
- instant start to 5 minute start Time<br />
( Contoh Target yang kamu masukin https://www.tiktok.com/@username )</td>
	</tr>
</table>
</div>