<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Dapat Bonus like jika beruntung<br />
Proses instan<br />
real indo</td>
	</tr>
</table>
</div>