<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>hanya Untuk 1 produk<br />
mendapatkan 1000 produk terjual,500 Love produk, Cashback<br />
500 followers shopee<br />
masukin target  username | password | Link Produk<br />
Dan kirimkan idorder ke tiket biar pengerjaan lebih cepat<br />
Proses 1-4 hari, tidak dihitung pada hari libur sabtu/minggu/hari besar</td>
	</tr>
</table>
</div>