<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>start - instant to 1 hour<br />
kemungkinan bisa  drop<br />
makanya kami kasih garansi refill 30days</td>
	</tr>
</table>
</div>