<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Refill (30 Days Maximum) <br />
0-1 Hour Start! <br />
10K - 100K/Day <br />
Minimum 100</td>
	</tr>
</table>
</div>