<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>bisa order jika sudah max 1k<br />
1k 15x<br />
jadi max 15k<br />
masukin link ya </td>
	</tr>
</table>
</div>