<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>KAMU KEMUNGKINAN DAPAT 4000 JAM TAYANG DALAM 5 HARI<br />
Guarantee: 30 days<br />
WAJIB GUNAKAN DURASI VIDEO 2jam lebih</td>
	</tr>
</table>
</div>