<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>INSTANT<br />
kemungkinan waktu proses 1 -12 jam<br />
bisa lebih cepat bisa lebih lama</td>
	</tr>
</table>
</div>