<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Kemungkinan  kecepatan 1 juta / jam<br />
Kemungkinan mulai 0-10 menir</td>
	</tr>
</table>
</div>