<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Speed : 200 Likes / Hour<br />
No Partial Issues<br />
Orders will be canceled if server overload.</td>
	</tr>
</table>
</div>