<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td> Start time:<br />
For orders under 1000 likes usually instant. If more than 1000 - may take some time, usually few hours<br />
Speed is up to 100-200 per hour (can lower a bit when many orders)<br />
No cancellation before 24 hours</td>
	</tr>
</table>
</div>