<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td> 0-24 hour start time<br />
100k to 300k /day speed<br />
Lifetime refill guarantee<br />
30-40 second watch time<br />
Safe to run with monetised videos<br />
Windows desktop watch page<br />
Worldwide viewers added in a non-stop natural pattern<br />
Must be unrestricted & open for all countries<br />
OK for VEVO<br />
Incremental Speed Based on Order Size<br />
500 Minimum order<br />
1 Million Maximum order</td>
	</tr>
</table>
</div>