<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Start times : Instant<br />
- Min 200 - Max 10M<br />
- NON DROP - Lifetime guarantee views<br />
- Speed 200k+/D ( Speed will be slow if Youtube made an update )<br />
- Retention : 10 - 50 secs</td>
	</tr>
</table>
</div>