<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Instant Start<br />
- Speed 300k -500k/D<br />
- No Refill /No refund</td>
	</tr>
</table>
</div>