<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start Time: Instant to 12 Hours<br />
Speed: Up to 100K/ day<br />
Refill: Lifetime Guaranteed With Auto Refill Every 2 Hours !<br />
Specs: 60 seconds+ retention<br />
Source: Mix of Web and Mobile traffic</td>
	</tr>
</table>
</div>