<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start Time: Instant - 6 hours<br />
Speed: 50/ day (natural pattern)<br />
Refill: 30 days Guaranteed<br />
Specs: Real USA Users</td>
	</tr>
</table>
</div>