<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>50 days refill<br />
30-80 subs per day speed<br />
Start 0-24 hours some times if overloaded 48 hours</td>
	</tr>
</table>
</div>