<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td> - Speed 1k/D<br />
- Start : 0 - 24h<br />
- hanya untuk followers profil ya bukan fanspage/halaman !<br />
- No Refill .</td>
	</tr>
</table>
</div>