<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Speed 1k/D<br />
- Start : 0 - 24h<br />
- Please place Profile followers ONLY , not Fan page likes.<br />
- 30 days refill</td>
	</tr>
</table>
</div>