<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>speed = instant finish | quality = LQ | No Refill/Refund in any case</td>
	</tr>
</table>
</div>