<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Start time : 0 - 12h<br />
- Speed : 1k/D<br />
- Non drop so far - No refill<br />
- Min 5 - Max 2k</td>
	</tr>
</table>
</div>