<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Dislikes can be over-delivered!<br />
Real<br />
No Refill Guarantee<br />
25,000-100,000 Per day<br />
kami tidak ada garansi jika like langsung turun, no kompline<br />
order = berani tanggung resiko</td>
	</tr>
</table>
</div>