<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start Time: Up to 12 hours<br />
Speed: 50/ day<br />
Refill: 10 days + Refill Button<br />
Specs: Youtube video with at least 1 like</td>
	</tr>
</table>
</div>