<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start Time: Up to 6 hours<br />
Speed: 10k/ day<br />
Refill: 30 days<br />
Specs: Normal Quality</td>
	</tr>
</table>
</div>