<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Start : 0 - 24 hours<br />
- Min: 50 - Max: 5K<br />
- Daily speed 50 - 200 ( Speed can slower if server overload, in this care must wait )<br />
- NON DROP so far - 30 days Refill Guarantee<br />
<br />
NOTE :<br />
- No Refund after order placed<br />
- No Refill if Old Likes Drop Below Start Count .</td>
	</tr>
</table>
</div>