<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Instant<br />
- Non drop -<br />
- Guarantee: 30 days refill if any drop<br />
- Speed 200+/D</td>
	</tr>
</table>
</div>