<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Instant Start<br />
- Speed for now about 10K/D<br />
- No refill / No refund with any reason .</td>
	</tr>
</table>
</div>