<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start Time: Instant - 12 hours<br />
Speed: 1K-2K/ day<br />
Refill: 30 days<br />
Specs: Mix Quality !</td>
	</tr>
</table>
</div>