<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td> Start Time: Instant - 1 hours<br />
Speed: 24-48 Hours Delivery<br />
Refill: no<br />
Specs: Only For Channels</td>
	</tr>
</table>
</div>