<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start Time: Instant - 1 hour<br />
Speed: 10K to 20K/ day<br />
Refill: no<br />
Specs: Latest Post<br />
Send Post Link Or channel id<br />
Example Link: https://t.me/link_example/994</td>
	</tr>
</table>
</div>