<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Start Time : 1 - 30 mins<br />
- Speed 5k+/D<br />
- 30 days refill</td>
	</tr>
</table>
</div>