<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start times : 0 - 2H<br />
Speed/day : 1k+/D<br />
Refill Guarantee : 30 Days ( Refill Button )<br />
Quality : REAL</td>
	</tr>
</table>
</div>