<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>KEMUNGKINAN selesai pada 3 - 6 jam<br />
max 24 jam<br />
bisa order 1k 10x untuk 1 foto<br />
jadi max 10.000 untuk 1 foto</td>
	</tr>
</table>
</div>