<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Mulai instan<br />
- Kecepatan 1k -5k / D<br />
- Garansi: LIFE TIME<br />
- Tampilan nyata dengan 40% - retensi 60</td>
	</tr>
</table>
</div>