<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Guarantee : 30 days<br />
- kecepatan 300 - 500/hari<br />
- Gunakan Durasi Video lebih dari 1 jam untuk mendapatkan hasil yang bagus<br />
- Jam tayang anda dapat sekitar 50 - 60 menit (rata rata 55 menit) untuk 1 penonton atau 1 view <br />
Jika Anda memesan 1000 view kemungkinan mendapat 800 - 100 jam tayang<br />
- Sistem kami menghitung dari jumlah awal jadi jika ada penonton organik kami tidak bertanggung jawab<br />
COntoh : jumlah awal nya 100 anda pesan 1000 view dan ada yang menonton video anda dan jumlah sudah memenuhi 1100 view kami tidak bertanggung jawab jika jam tayang tidak dapat <br />
<br />
NOTE :<br />
- Anda dapat menggunakan beberapa video lebih dari 1 jam di saluran yang sama untuk memesan, jadi, ini dapat mempersingkat waktu untuk menyelesaikan 4000 jam.<br />
Contoh: Menggunakan 8 video di saluran yang sama. Setiap pesanan video lebih dari 500 view. Kemungkinan Hanya perlu 2 hari untuk menyelesaikan 4000 jam.</td>
	</tr>
</table>
</div>