<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Speed 200-400 Per Day<br />
Refill: 30 Days<br />
Start Time 0-2 hours</td>
	</tr>
</table>
</div>