<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Speed : 500-1000 / day, Small Order Deliver Faster<br />
Guaranteed: 30 days Guaranteed<br />
waktu mulai 0 -5 jam<br />
Extra: 20 -30% Extra Delivers</td>
	</tr>
</table>
</div>