<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Waktu Mulai 0-5 menit [Instan]<br />
- Non drop tampilan youtube kecepatan 10k-100k / Hari<br />
- Jika drop untuk masalah pembaruan Youtube maka kami akan mengisi ulang dalam 1-2 hari,<br />
- Jika kami gagal mengisi ulang maka kami akan mengembalikan saldo<br />
- Retensi Atau tonton waktu 1-5 menit</td>
	</tr>
</table>
</div>