<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>1k in 1 minutes<br />
80% real<br />
Kemungkinan drop 10-20% jika anda memesan 1000+<br />
</td>
	</tr>
</table>
</div>