<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Syarat: tidak berlaku di saluran Porn, Bet, Finishing, dan Baru dan Kosong<br />
Drop sekitar 30%<br />
Instant Start<br />
20k / Day speed.<br />
Only For Public Channels<br />
Contoh link: https://t.me/Your_Channel_ID</td>
	</tr>
</table>
</div>