<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Instant ( Start in some min only )<br />
Lifetime Refill<br />
20k- 30K+/Day<br />
Working well with very fast start</td>
	</tr>
</table>
</div>