<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Instant ( 0 -1h )<br />
- Speed 10k- 20K+/D<br />
- Retention : 1 - 3 mins watch times<br />
</td>
	</tr>
</table>
</div>