<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Instant<br />
NON DROP - 30 Days refill if any drop<br />
10k - 30K/D<br />
5 - 25 Mins watch times ( Retention cant change if YT update )<br />
Good views for Ranking<br />
<br />
NOTE : Gunakan video yang durasi diatas 20 menit supaya mendapat retention yg lebih baik</td>
	</tr>
</table>
</div>