<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Start times : 0 - 1h<br />
- Speed 20k+/D ( kecepatan bisa kapan aja down )<br />
NOTE : Server bekerja dengan baik buat sekarang</td>
	</tr>
</table>
</div>