<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Instant Start ( 0 - 2h )<br />
Real Users<br />
Speed 100K - 1k/D</td>
	</tr>
</table>
</div>