<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Mulai Instan <br />
Gunakan username tanpa @ <br />
Tempatkan pesanan setelah ditayangkan langsung dari Perangkat berbeda<br />
Jangan jeda sesi langsung <br />
Ambil bukti screenshot jika tayangan langsung gagal <br />
karena masalah terkait reffund.</td>
	</tr>
</table>
</div>