<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Instant Start<br />
- Example : https://www.facebook.com/user/videos/ID<br />
- Live must be PUBLIC<br />
<br />
CATATAN!!! : - https://www.facebook.com/user/videos/ID<br />
                        - Bukan https://www.facebook.com/user/videos/ID/</td>
	</tr>
</table>
</div>