<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Layanan ini berbeda dengan view lain<br />
karena layanan ini bisa membuat trending dan viral video</td>
	</tr>
</table>
</div>