<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Guarantee : Lifetime<br />
Refill: Auto Refill [ No Drop ]<br />
Retention - 40 seconds to 4 minutes</td>
	</tr>
</table>
</div>