<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Instant<br />
- Guarantee : auto refill<br />
- retention 30 secs - 5 mins</td>
	</tr>
</table>
</div>