<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Instant start and order will completed in some min<br />
- No refill<br />
- All real data , No Bo , kemungkinan drop 10%</td>
	</tr>
</table>
</div>