<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>per order 2000<br />
max bisa 5000 untuk 1 akun<br />
Instal<br />
jika overload kemungkinan 1-3 hari<br />
jarang terjadi<br />
Real</td>
	</tr>
</table>
</div>