<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Jika off jangan banyak kompline<br />
gunakan selagi bisa<br />
HIGH DROP</td>
	</tr>
</table>
</div>