<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Mulai: 1 -24jam<br />
- Kecepatan: 5000 / hari<br />
- Min: 50 - Maks: 5000<br />
- Garansi: 30 Hari sejak pesanan<br />
- CATATAN: Server ini selama pengujian, less drop atau Non drop</td>
	</tr>
</table>
</div>