<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Top Quality UK Active Profiles<br />
7 day Auto Refill<br />
200 Per day<br />
pesanan yang kami terima<br />
contoh 100,200,300<br />
jangan random seperti 201,732,390 tidak kami terima</td>
	</tr>
</table>
</div>