<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Mulai kali 1 - 6 jam<br />
- Kecepatan 20k / days<br />
- Non drop atau sedikit drop sejauh ini<br />
- Garansi: isi ulang 10 hari jika drop</td>
	</tr>
</table>
</div>