<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>waktu proses 0-1jam<br />
kecepatan 1k-3k/hari<br />
no drop<br />
kalo drop kemungkinan besar itu followers yang lain, bukan dari kami<br />
kalo drop kemungkinan sangat dikit dan no refill<br />
KAPAN AJA BISA OFF</td>
	</tr>
</table>
</div>