<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>100k-200k/day<br />
40 sec - 4 minutes<br />
External<br />
Lifetime Guaranteed</td>
	</tr>
</table>
</div>