<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>No Drop & 30 Day Refill Guarantee!<br />
Starts in 5 minute<br />
Starting very fast!</td>
	</tr>
</table>
</div>