<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Proses fast<br />
max proses 3 hari baru kompline<br />
Real indo<br />
per akun max 1k</td>
	</tr>
</table>
</div>