<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- No refill Guarantee ( If order today drop after Next few hours still no refill )<br />
- Views can drop in any ratio ( if drop )<br />
- 30seconds-4 mins Retention</td>
	</tr>
</table>
</div>