<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- waktu mulai : 0 - 20 mins <br />
- Kecepatan 2 -3k/hari <br />
- 100% Real Bule <br />
- Less DROP</td>
	</tr>
</table>
</div>