<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Instagram TV Views ! <br />
Full TV Video Link Needed ! <br />
INSTANT Start ! </td>
	</tr>
</table>
</div>