<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Instant Start<br />
- 100% REAL<br />
- Speed 170+ Per Day<br />
- NON DROP<br />
- Garansi: Isi Ulang 30 Hari jika ada 1 sub drop.<br />
- BEST SUBS !<br />
<br />
NOTE :<br />
- jika subs turun dari subs lama mu kami tidak ada refill!!<br />
<br />
jika ragu silahkan pesan di yang subs nya hanya 1<br />
biar bisa dibuktikan!</td>
	</tr>
</table>
</div>