<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Speed 1 Million Per Day<br />
Instant Start<br />
NON-Drop<br />
Life Time Guarantee</td>
	</tr>
</table>
</div>