<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Random comment akun verif / centang biru , <br />
- kamu mendapatkan 10 comment random dari akun verif /centang biru<br />
- waktu mulai sekitar 1 -5 jam<br />
Note : jumlah pesanan 1000 anda tetap mendapat 10 komentar!<br />
Dilarang postingan  tentang seksual/kekerasan/sara/rasis</td>
	</tr>
</table>
</div>