<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Kualitas bagus<br />
Refill 30Days <br />
Kecepatan 200-300/day<br />
database 50.000<br />
jadi jika pesanan selesai anda bisa memesan lagi hinggal perakun/50rb<br />
Real Usa</td>
	</tr>
</table>
</div>