<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>1k-5k/day<br />
Gunakan link video untuk followers jangan link profil<br />
No Guarantee</td>
	</tr>
</table>
</div>