<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>akun dari Indonesia, India, China , Thailand like [ semual like mix tidak tertarget]</td>
	</tr>
</table>
</div>