<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- waktu mulai : 0 - 2 jam<br />
- Speed 500+/D<br />
- retention 25 - 30 minutes ( kemungkinan Rata rata 27 minutes).<br />
- Guarantee: 30 days<br />
- Traffic source : Direct</td>
	</tr>
</table>
</div>