<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>with pp<br />
waktu mulai sekitar 0-6 jam<br />
max perlink bisa sampai 3k<br />
jadi bisa order 3x di link yg sama</td>
	</tr>
</table>
</div>