<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>waktu mulai 0-6jam<br />
gk bisa video bekas live<br />
HQ VIEWS<br />
Watch hours are Delivered in 1-4 days after placing order<br />
Guarantee : 30 Days Refill<br />
Gunakan video durasi 1 jam+<br />
do not remove or make video private after<br />
1000 quantity = 1000 jam tayang</td>
	</tr>
</table>
</div>