<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>- Anda akan mendapatkan waktu menonton 500 jam dalam 1 hari<br />
- Garansi: 30 hari<br />
- Silakan gunakan video yang memiliki durasi 2 jam atau lebih untuk memesan<br />
<br />
CATATAN:<br />
- Saat menggunakan layanan kami, jangan pada saat yang sama menggunakan layanan dari pihak ke-3 dan jika video menerima penayangan organik, Anda tidak akan mendapatkan cukup waktu tontonan. Kami tidak bertanggung jawab dalam kasus ini<br />
- Lebih baik gunakan video baru dan tidak ada tampilan organik untuk menjalankan waktu menonton.<br />
- Setelah Pesanan, kami tidak dapat refund / partial / canceled.</td>
	</tr>
</table>
</div>