<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Perday 500 an<br />
jadi kalo order banyak bisa memakan waktu lama<br />
</td>
	</tr>
</table>
</div>