<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>contoh target :https://likee.com/@********/video/*********<br />
No refill</td>
	</tr>
</table>
</div>