<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Guarantee : Lifetime Guarantee<br />
Speed - 5k-10k/day [ If overloaded 3k-5k/day]</td>
	</tr>
</table>
</div>