<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>real likes<br />
jadi sangat jarang banget drop<br />
kecuali emang ada update system</td>
	</tr>
</table>
</div>