<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Kualitas bagus<br />
jika drop sekitar 20% tidak ada refill<br />
kalo drop 50% lebih barus bisa di refill<br />
5K - 10K/Day</td>
	</tr>
</table>
</div>