<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Channel Only<br />
5k/day<br />
No Refill<br />
1-12hrs start<br />
Min 100, Max 100k</td>
	</tr>
</table>
</div>