<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Instan<br />
kecepatan 5k -20k/hari<br />
GK ADA GARANSI APAPUN! JIKA VIEW TURUN<br />
BELI? berani ambil resiko</td>
	</tr>
</table>
</div>