<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Best Service! <br />
Start 1-6hrs <br />
1MILLION TO 5MILLION PER DAY <br />
LIFE TIME GUARANTEED </td>
	</tr>
</table>
</div>