<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start Time: Instant - 6 hours<br />
Speed: 20K/ day <br />
Refill: no</td>
	</tr>
</table>
</div>