<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>100% High-Quality Account<br />
No Drop - Life Time Guarantee<br />
Instant ( Avg 0-3 hrs ) <br />
500 to 5000 per 24 hour</td>
	</tr>
</table>
</div>