<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Correct format: <br />
https://open.spotify.com/album/2beOdusX0eDgXQ7KdX8IVf<br />
https://open.spotify.com/playlist/4jHJBBSbRZp2SNFeHoJMfA</td>
	</tr>
</table>
</div>