<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start Time: Instant - 1 hour<br />
Speed: 5K/ day <br />
Refill: 30 days<br />
Specs: Fast</td>
	</tr>
</table>
</div>