<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start Time: Instant - 12 hours<br />
Speed: 3 to 5mil/ day <br />
Specs: Full Link !</td>
	</tr>
</table>
</div>