<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>All Stories<br />
Username Only<br />
0-1 Hour Start! <br />
Ultra Fast! <br />
Minimum 100</td>
	</tr>
</table>
</div>