<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Start Time: Instant - 12 hours<br />
Speed: Up to 10K/ day <br />
Specs:<br />
100% Real & Unique Traffic<br />
Desktop Traffic<br />
Google Analytics Supported<br />
Low bounce rates 15-20%<br />
You can use bit.ly to track results<br />
No Adult, Drugs or other harmful websites allowed<br />
Link Format: Full Website URL<br />
</td>
	</tr>
</table>
</div>