<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>High Retention Youtube Views<br />
Retention : 0-2 Minutes ( Average 30-60 Second )<br />
( Retention can go up or Down without any notice , According to youtube update )<br />
Start 0-6 hours<br />
Best Quality in the Whole Market<br />
Refill : Life Time</td>
	</tr>
</table>
</div>