<div class="table-responsive">
<table class="table table-bordered">
	
	<tr>
		<th>description</th>
		<td>Speed 500 - 2k / Day<br />
<br />
30 days refill<br />
<br />
Instant - 24 hours start</td>
	</tr>
</table>
</div>