.login-2 {
    background: #ffffff;
}
.login-2 .form-section {
    border-radius: 20px;
}
.login-2 .form-section a img {
    height: 50px;
    margin-bottom:40px;
}
.btn-primary {
    background-color: #0070C0;
    border-color: #0070C0;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px;
}
.btn-primary:hover {
    background-color: #0070C0;
    border-color: #0070C0;
    opacity: .8;
}
.login-2 .login-inner-form .checkbox-theme input[type="checkbox"]:checked + label::before {
    background: #0070C0;
}
small.text-danger.font-13.pull-right {
    margin-top: 10px;
    font-size: 12px;
}
.login-2 .login-inner-form .checkbox a,
.login-2 .form-section p a {
	color: #0070C0;
}
.forgot-password-1 img {
	height: 50px;
    margin-bottom:40px;
}
.g-recaptcha {
	background: #f7f7f7; border: solid 1px #ddd; padding: 8px 40px 6px;
}
.scan-ktp-button {
    background: #000000;
    width: 100%;
    display: block;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}
.scan-ktp-button:hover {
	color: #fff;
	opacity:.8;
}
.icon-sub-login {
    position: absolute;
    left: 35px;
    top: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #0070C0;
}
.icon-sub-login-2 {
    padding-left: 37px!important;
}
.fixed-action-btn-two {
	display:none;
}
.fixed-action-btn-two .fa-2x {
    font-size: 20px!important;
}
a {
    color:#0070C0;
}
@media(max-width:767px){

	.g-recaptcha {
		padding: 0;
	}
    .menu-float-right {
        display:none!important;
    }
    
    .login-2 {
        padding-bottom: 80px;
    }
    .fixed-action-btn-two {
	    user-select: none;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 99999;
	    display: flex;
	    flex-wrap: wrap;
	}
	.btn-fab-floating-two {
	    cursor: pointer;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    position: relative;
	    border-radius: 0;
	    height: 60px;
	    width: 20%;
	    color: #888;
	    background-color: #ffffff;
	    border-top: 1px solid hsla(0,0%,53.3%,.4);
	}
	.btn-fab-floating-two:nth-child(3) {
        background: #00b0f0;
        color: #fff;
    }
}
@media(min-width: 768px){
    .menu-float-right {
        height: 100vh;
        width: 70px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0; 
        z-index: 1040;
    }
    .menu-float-right .menu_ {    
        font-size: 12px;
        text-align: center;
        background: #0070C0;
        width: 100%;
        height: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px #ddd;
        border-radius: 0 20px 20px 0;
    }
    .menu-float-right .menu_ a {
        color: #fff;
    }
}