nav.navbar.navbar-custom {
    background: #ffffff;
    padding: 18px;
}
.navbar-brand img {
    height: 40px;
}
.navbar-light .navbar-nav .nav-link {
    color: #0070C0;
    -webkit-font-smoothing: unset;
    -moz-osx-font-smoothing: unset;
    font-size: 16px;
    margin: auto 15px;
}
.section_one {
    background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/k-s11-chim-1867.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=1000&s=bee52be9fe58aad2cffed4f4aec06f49)no-repeat;
    background-size: cover;
    padding: 100px;
    min-height: 90vh;
}
.section_one .home-wrapper {
    padding: 25px;
    text-align: justify;
    color: #0070C0;
    text-shadow: 2px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
    font-weight: 400;
    background: rgb(255 255 255 / .7);
    box-shadow: 0 0 8px #e4e4e4;
    border-radius: 8px 8px 0 0;
}
.section_one .footer__section_top {
    padding: 15px;
    border-radius: 0 0 10px 10px;
    background: #fcfdfc;
    box-shadow: 0 0 8px #e4e4e4;
}
.section_one .home-wrapper p { 
	font-size:17px;
}

section.section_two {
    padding: 40px;
    text-align: center;
    color: #fff;
    background: #00b0f0;
    font-size:26px;
}

section.section_three {
    padding: 50px 20px;
    text-align: center;
        color: #0070C0;
}

section.section_three h2 {
	margin-bottom: 20px;
}
section.section_three h2 div { 
    top: 0;
    margin: 15px auto 40px;
    height: 5px;
    width: 100px;
    background: #0070C0;
    border-radius: 20px;
}
section.section_three img {
	height: 100px;
	margin-bottom: 20px;
}

section.section_three .arrow-check {
    height: 38px;
    vertical-align: text-top;
    padding-right: 10px;
}

section.section_four {
    border-top: solid 1px #47b1f0;
    padding: 20px;
    margin-top: 30px;
    background: #fff;
}
section.section_four h2 {
	margin-bottom: 20px;
	text-align: center;
}
section.section_four h2 div { 
    top: 0;
    margin: 15px auto 40px;
    height: 5px;
    width: 100px;
    background: #0070C0;
    border-radius: 20px;
}

.btn-web-login {
    background: #111;
    padding: 12px;
    display: block;
    text-align: center;
    color: #fff;
    font-size:16px;
    border-radius: 6px;
        opacity: .7;
}
.btn-web-login:hover {
        opacity: 1;
        color:#ffffff;
}
.btn-web-login i{
	font-size: 22px; vertical-align: middle;
}
.span-soon{position: absolute; background: #ffbf00; color: #000; padding: 1px 8px; border-radius: 0 5px 0 0; right: 9px; font-size: 12px;}
.kt-link:hover:after {
    border-bottom:none;
}
.dropdown-item.active, .dropdown-item:active {
	background-color: #0070C0;
}
@media(max-width:767px){
	.section_one {
		padding: 15px 0;
		min-height: auto;
    		background: #00b0f0;
	}
	.section_one .home-wrapper {
		font-size: 14px;
		box-shadow: none;
		text-shadow: none;
    		text-align: center;
	}
	.section_one .footer__section_top {
	    box-shadow: none;
	}
	section.section_two {
		padding: 20px;
		font-size: 16px;
		border-top: solid 1px #1e70c0;
	}
	.navbar-brand {
		padding-bottom: 0;
	}
	.navbar-brand img {
    		height: 40px;
	}
	.navbar-light .navbar-nav .nav-link {
	    text-align: center;
	    margin: 5px auto;
	}
	.navbar-collapse {
	    margin-top: 10px;
	}
	.navbar-collapse li.nav-item {
	    border-top: solid 1px #f1f1f1;
	}
	.btn-web-login{
		    padding: 7px;
		    font-size: 12px;
	}
	.btn-web-login i{
		font-size: 12px;
	}
	.fixed-action-btn-two .fa-2x {
	    font-size: 20px!important;
	}
	section.section_three h2 {
		    font-size: 18px;
	}
	section.section_three img {
		    height: 64px;
	}
	.padding-on-body-mobile {
		padding-bottom: 100px!important;
	}
	.span-soon {
		font-size:10px;
	}
	.navbar-collapse .dropdown-menu.show {
	    margin: 15px auto 5px;
	    box-shadow: 0 0 2px rgb(216 216 216);
	}
	.btn-fab-floating-two:nth-child(3) {
        background: #00b0f0;
        color: #fff;
    }
}