/* ----------------------------------------------------------
[Master Stylesheet]

Template Name: Suha - Multipurpose Ecommerce Mobile Template
Template Author: Designing World
Template Author URL: https://themeforest.net/user/designing-world/portfolio
Version: 1.0.3
Last Updated: 20 Dec 2019
Created: 15 Dec 2019
---------------------------------------------------------- */

body{
    color: #0070C0;
}

.btn:active,
.btn:focus {
	box-shadow: none;
	outline: none;
}

.btn.btn-green {
	background-color: #32CD32;
	color: #fff;
	font-weight: 500;
	border: 1px solid #32CD32;
}

.btn.btn-green:hover {
	background-color: transparent;
	color: #32CD32;
	border: 1px solid #32CD32;
	transition: .3s;
}

.btn.btn-sm {
	min-width: auto;
	padding: 5px 10px;
}

.bg-green,
.badge-green {
    background-color: #32CD32 !important; }

.border.border-green {
    border-width: 5px;
    border-style: solid;
    border-color: #32CD32;
}

.page-content-wrapper {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 58px; }

.section-padding-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.section-padding-0-30 {
  padding-top: 0;
  padding-bottom: 30px; }

.section-padding-30-0 {
  padding-top: 30px;
  padding-bottom: 0; }

.section-padding-30-14 {
  padding-top: 30px;
  padding-bottom: 14px; }

.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 1rem; }
  .section-heading h6 {
    margin-bottom: 0;
    color: #747794; }
  .section-heading p {
    margin-bottom: 0; }

.card {
  border-color: #ebebeb;
  border-radius: 0.5rem; }
  .card .card-body {
    padding: 0.75rem; }

.row {
  margin-right: -8px;
  margin-left: -8px; }

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 8px;
  padding-left: 8px; }

.catagory-card {
  position: relative;
  z-index: 1;
  text-align: center; }
  .catagory-card a {
    display: block; }
  .catagory-card img {
    margin-bottom: 0.6rem;
    height: 33px; }
  .catagory-card span {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #333333; 
  }
  .catagory-card:hover span, .catagory-card:focus span {
    color: #333333; 
   }

/* CTA Area */
.cta-area {
  position: relative;
  z-index: 1; }
  .cta-area .cta-text {
    position: relative;
    z-index: 1;
    border-radius: 0.5rem;
    background-size: cover; }
    .cta-area .cta-text p,
    .cta-area .cta-text h4 {
      color: #ffffff; }
    .cta-area .cta-text::after {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      content: "";
      background: #333333;
      background: -webkit-linear-gradient(to left, #333333, #0862fb);
      background: linear-gradient(to left, #333333, #0862fb);
      z-index: -10;
      border-radius: .5rem;
      opacity: .75; }
   
   .kt-portlet {
   	border-radius:10px;
   }  
   
 .kt-footer {
 	background-color: #1b1b1b;
 } 
 .fa-2x {
    font-size: 24px!important;
}
.fixed-action-btn-two {
	display:none;
}
.product-catagory-wrap .card {
	border: none;
}
.kt-footer .kt-footer__top .kt-footer__subscribe {
	background: rgb(255 255 255 / .9);
    	border-radius: 2em;
}
.btn.btn-elevate.btn-elevate-air:hover {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1;
}
.kt-footer .kt-footer__top .kt-footer__nav .kt-footer__nav-section a:hover,
.kt-footer .kt-footer__bottom .kt-footer__menu a:hover {
    color: #ffffff;
} 

.btn-danger, .btn-success {
    border-radius: .25rem!important;
}

.btn-primary {
    background-color: #0070C0;
    border-color: #0070C0;
    color: #fff;
    border-radius: .25rem!important;
}
.btn-primary:hover {
    background-color: #0070C0;
    border-color: #0070C0;
    opacity: .8;
}
.footer-btn-app {
	opacity:.7;
}
.footer-btn-app:hover {
	opacity:1;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #0070C0;
    border-color: #0070C0;
}
.table {
    white-space: nowrap;
}
.kt-badge.kt-badge--info {
    background: #0070C0;
}
.text-primary {
    color: #0070C0!important;
}
a:hover {
    color: #0070C0;
}
.form-control:focus {
    border-color: #00b0f0;
}
.img-logo-invoice {
    width: 120px;
}
.nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link:hover {
    border-bottom: 1px solid #ddd;
}
.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-username {
    white-space: nowrap;
}
.form-control[readonly] {
    background-color: #f7f8fa;
}
.kt-pagination.kt-pagination--brand .kt-pagination__links .kt-pagination__link--active {
    border-radius: .25rem;
    background: #0070C0;
}
.kt-pagination.kt-pagination--circle .kt-pagination__links li {
    border-radius: .25rem;
}
.nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item .nav-link:active, .nav-tabs .nav-item .nav-link:hover {
    color: #00b0f0;
}
.nav-tabs .nav-item .nav-link {
    color: #00b0f0;
}
.dasboard-m-2 {
    color: #fff;
}
#kt_scrolltop {
    bottom: 75px;
    background: #00b0f0;
}
 @media (max-width: 1024px){
 	.kt-header-mobile {
 		background-color: #00b0f0;
 		height: 62px;
	    	box-shadow: none;
 	}
 	.kt-portlet.kt-portlet--height-fluid {
	    background: transparent;
	    box-shadow: none;
	}
	#kt_header_mobile_topbar_toggler i.flaticon-more-1 {
	    color: #fff;
	}
 }
 @media (max-width:767px){
 	#kt_footer {
	    display: none;
	}
	.fixed-action-btn-two {
	    user-select: none;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 9;
	    display: flex;
	    flex-wrap: wrap;
	}
	.btn-fab-floating-two {
	    cursor: pointer;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    position: relative;
	    border-radius: 0;
	    height: 60px;
	    width: 25%;
	    color: #555;
	    background-color: #ffffff;
	    border-top: 1px solid hsla(0,0%,53.3%,.4);
	}
	.kt-grid.kt-grid--hor.kt-grid--root {
	    padding-bottom: 60px;
	}
	.kt-subheader .kt-subheader__main .kt-subheader__breadcrumbs {
	    display: none;
	}
	.kt-header__topbar--mobile-on .kt-header__topbar .kt-header__topbar-item.dropdown {
	    margin-right: auto;
	}
	.kt-header__topbar-item.dropdown {
        margin-right: auto;
	    }
	    .kt-header__topbar .kt-header__topbar-item.show .kt-header__topbar-icon, .kt-header__topbar .kt-header__topbar-item:hover .kt-header__topbar-icon {
	        background-color: transparent;
	        color: #0070C0;
	        border-radius: 0;
	    }
	    .kt-header__topbar .kt-header__topbar-item.show .kt-header__topbar-icon i, .kt-header__topbar .kt-header__topbar-item:hover .kt-header__topbar-icon i {
	        color: #0070C0!important;
	    }
		.fixed-action-btn-two .fa-2x {
	        font-size: 20px!important;
	    }
	    .btn-fab-floating-two:nth-child(1) {
	        /*background: #00b0f0;*/
	        /*color: #fff;*/
	    }
	    .dasboard-m-1 {
	        border: solid 1px #ffffff;
	    }
	    .dasboard-m-1 i {
	        /*display: block;*/
	        /*padding: unset;*/
	        /*font-size: 22px!important;*/
	    }
    	body {
		background-color: #f9f9fc;
		background-image: none!important;
	}
	.kt-header-mobile {
		background-color: #f9f9fc;
	}
	.kt-header-mobile__toolbar-topbar-toggler i {
		color:#0070C0!important;
	}
	.dropdown-menu.dropdown-menu-lg, .dropdown-menu.dropdown-menu-md, .dropdown-menu.dropdown-menu-xl {
		width: 100%;
		position: fixed;
		right: 0;
		top: 60px;
	}
	.dropdown-menu:not(.dropdown-menu-top-unround) .kt-head {
		border-top-left-radius: 0;
    		border-top-right-radius: 0;
	}
 }
 
 
@media (min-width: 1025px){
	.kt-header {
		border-bottom: none;
	}
	.kt-header--fixed.kt-header--minimize .kt-header-menu-wrapper .kt-header-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link>.kt-menu__link-text {
	    color: #0070C0;
	}
	.kt-header-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu>.kt-menu__subnav>.kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active)>.kt-menu__link .kt-menu__link-icon, .kt-header-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu>.kt-menu__subnav>.kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active)>.kt-menu__link .kt-menu__link-icon {
	    color: #0070C0;
	}
	.catagory-card a {
        border: solid 1px #00b0f0;
        border-radius: 4px;
        padding: 20px 10px;
    }
    .catagory-card a:hover {
        border: solid 1px #0070C0;
    }
}